/*general*/
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

.container{
  margin-left: 140px;
}

/*main menu*/

.mainNavOdc {
  height: 100%;
  width: 140px;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.mainNavOdc, .headerODM {
  background: #292d56;
}
.mainNav-logo {
    margin: 35px 20px;
    float: none;
    font-size: 100px;
}
.icon-od-logo {
  font-family: 'icomoon';
}
.icon-od-logo:before {
  content: "\e600";
}

ul.level1 {
    height: 60px;
}

.mainNav-inner .level1 li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    width: 140px;
    text-align: right;
    border-top: 1px solid #07578B;
    float: left;
  }
  .mainNav-inner .level1 li a {
      text-decoration: none;
      line-height: 30px;
      padding-right: 10px;
      display: block;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: bold;
}
  .mainNav-inner ul.level1>li.act>a {
    padding-right: 12px;
    color: #0773B6;
    background: #fff;
    border-right: 1px solid #dddddd;
  }
  #mainNav-inner .level1 li a {
  font-family: sans-serif;
}


/*header*/
header#od-head .icon-od-logo{
  display: none;
}

#od-head {
    padding: 30px 0 0;
    background: #292d56;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9988;
}

#site-intro{
      margin-top: 165px;
}
/*temp*/

div#wrap-feedback {
  right: -40px;
  left: initial;
}
