#cambodia-color, .cambodia-color{
    color: #97D320;  /* #66cc00*/
}
#cambodia-bgcolor, .cambodia-bgcolor{
    background: #97D320 !important
}
a, a:visited, #sidebar .widget li a,.map-sidebar a{
 color: #06323D; /* #7BCC2E; #6393D2, #2774da;*/
 text-decoration:none
}
a:hover, #sidebar .widget li a:hover{
	color: #12414E;
	text-decoration:underline
}
a strong:hover {
	color: #12414E;
	text-decoration:underline
}
button,
a.button,
.button {
	background: #97D320;
}
tr:nth-child(2n+1) {
    background-color: #eefbe6;
}
#od-head {
	background: #06323D;
	color: #f0f0f0;
}

#od-head #ms-nav {
	background: #12414E;
}

#od-head #main-nav .menu ul > li:hover a,
#od-head #main-nav ul.menu > li:hover,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover ,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li > ul.sub-menu > li a:hover {
	background-color: #97d320;
}

#od-head h1 a,
#od-head h1 span {
	text-decoration: none;
	color: #97d320;
}

/* #od-head h2,
#od-head a,
#od-head span {
	color: #fff;
} */

#od-head .ms-dropdown-title ul {
	background: #06323D;
}

#od-head .ms-dropdown-title ul li {
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

#od-head .notification-message-box a{
    color: #333;
}
.notification-message-box{
    border: 2px solid #97D320;
    color: #06323D;
}
.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #97d320;
	border-color: #97d320;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 10px solid #97d320;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-top: 10px solid #97d320;
}
.interactive-map .interactive-map-layers  ul li {
 border-bottom: 1px solid #97D320;
}
.interactive-map .interactive-map-layers  ul li a:hover {
  color: #97D320;
}
.interactive-map .interactive-map-layers > ul >li > a.active {
    border-bottom: 1px solid #97D320;
}
.color-line{
  border: #97D320 solid 1px;
  margin: 0 0 5px;
  width: 99%;
  height: 0;
}
#site-intro {
	background: #97d320;
}
.current-site-cambodia{
	background: #97d320;
}
/*## Nav Concept ##*/
/*logo*/
.icon-od-logo{
  color: #97d320!important;
}
[class^="icon-"], [class*=" icon-"]{ color: #12414E;}

/*L kasten links*/
.mainNavOdc,.headerODM,.contentNavigation{background:#06323D;}
/*nav oben*/
.white #cNavNew.current-site-mekong{background:#12414E;}
/*header text*/
.white #headerText span a{color:#97d320;text-decoration: none;}
  /*level 1 hover*/

.white #cNavNew.level1>li:hover,li.top-topic{background:#97d320;}
.mainNav-inner .level1 li:hover {background: #12414E;}
.mainNav-inner .level1 li:hover a{color: white;}
  /*level 1 active*/
  /*#cNavNew.level1>li.cur>a, .white #cNavNew.level1>li.act>a{background: red;}*/

/*sub-nav oben*/
  /*level 2*/
  #cNavNew li:hover .level2,#cNavNew li:hover .level2 a {background:#97d320; color:white;}
  /*level 2 hover*/
  #cNavNew li .level2 li:hover>a{background:#12414E;color:white;}
  /*level 3*/
  #cNavNew li:hover .level3 a {
      background: #06323D;
  }
  #cNavNew li:hover .level3 a:hover{
    background: #97d320;
  }

/*Ländernav liks*/
  .white #mainNav-inner .level1>li>a{color: white;}
  /*hover*/
  .white #mainNav-inner ul.level1>li:hover>a{background:#97d320;}
  /*active*/
  .mainNav-inner ul.level1>li.act>a{color:white;background:#97d320;}

  footer#colophon{
    background:#12414E;
  }

/* Table data pages*/
.sidebar_header{
  background: #97D320 !important;
}

.sidebar_box_content ul li a{
  color: #97D320;
}

.sidebar_box_content ul li a:hover{
  color: #12414E;
}
.top a{
  color: #97D320 !important;
}

.top a:active{
  color: #97D320 !important;
}

td.entry_title a:hover{
  color: #97D320 ;
}
td.entry_title a{
	color: #12414E;
}

/* Cambodia collapse & expend */
#sidebar .widgets .widget .widget-title,
.widget .widget-title {
 background: #97D320 none repeat scroll 0% 0%;
}
#sidebar .widgets .widget ul li span.plusimage-cambodia{
    display: inline-block;
    background: url("../img/expand-kh.png") no-repeat 0 2px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.minusimage-cambodia{
    display: inline-block;
    background: url("../img/collapse-kh.png") no-repeat 0 2px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.nochildimage-cambodia{
    display: inline-block;
    background: url("../img/no-child-kh.png") no-repeat 0 2px!important;
    padding-left: 20px;
}

/*map explorer category colors*/
.cat-infrascructure .category-color{background: #0EB20B;}
.cat-infrascructure .layer-item:hover .icon-info-path,
  .active-layer.layer-infrascructure .icon-info-path, .active-layer.layer-infrascructure .icon-download path{
    fill:#0EB20B;
  }
.cat-infrascructure .layer-item:hover h2,
  .map-active-layers .active-layer.layer-infrascructure .layer-item h2,
  .cat-item.cat-infrascructure .layer-item h2:hover,
  .cat-item.cat-infrascructure .layer-item h2.active{
    color:#0EB20B;
  }
.map-active-layers .layer-infrascructure .layer-status.active,
 .categories .cat-infrascructure .layer-status.active,
 .map-active-layers .active-layer.layer-infrascructure h6{
  background: #0EB20B;
}

.cat-map-environment-and-natural-resources .category-color{background: #FFD825;}
.cat-map-environment-and-natural-resources .layer-item:hover .icon-info-path,
  .active-layer.layer-map-environment-and-natural-resources .icon-info-path, .active-layer.layer-map-environment-and-natural-resources .icon-download path{
    fill:#FFD825;
  }
.cat-map-environment-and-natural-resources .layer-item:hover h2,
  .map-active-layers .active-layer.layer-map-environment-and-natural-resources .layer-item h2,
  .cat-item.cat-map-environment-and-natural-resources .layer-item h2:hover,
  .cat-item.cat-map-environment-and-natural-resources .layer-item h2.active{
    color:#FFD825;
  }
.map-active-layers .layer-map-environment-and-natural-resources .layer-status.active,
 .categories .cat-map-environment-and-natural-resources .layer-status.active,
 .map-active-layers .active-layer.layer-map-environment-and-natural-resources h6{
  background: #FFD825;
}


.cat-hydrology .category-color{background: #FF8600;}
.cat-hydrology .layer-item:hover .icon-info-path,
  .active-layer.layer-hydrology .icon-info-path, .active-layer.layer-hydrology .icon-download path{
    fill:#FF8600;
  }
.cat-hydrology .layer-item:hover h2,
  .map-active-layers .active-layer.layer-hydrology .layer-item h2,
  .cat-item.cat-hydrology .layer-item h2:hover,
  .cat-item.cat-hydrology .layer-item h2.active{
  color:#FF8600;
}
.map-active-layers .layer-hydrology .layer-status.active,
 .categories .cat-hydrology .layer-status.active,
 .map-active-layers .active-layer.layer-hydrology h6{
  background: #FF8600;
}

.cat-demographic .category-color{background: #FF003E;}
.cat-demographic .layer-item:hover .icon-info-path,
  .active-layer.layer-demographic .icon-info-path, .active-layer.layer-demographic .icon-download path{
    fill:#FF003E;
  }
.cat-demographic .layer-item:hover h2,
  .map-active-layers .active-layer.layer-demographic .layer-item h2,
  .cat-item.cat-demographic .layer-item h2:hover,
  .cat-item.cat-demographic .layer-item h2.active{
  color:#FF003E;
}
.map-active-layers .layer-demographic .layer-status.active,
 .categories .cat-demographic .layer-status.active,
 .map-active-layers .active-layer.layer-demographic h6{
  background: #FF003E;
}

.cat-energy .category-color{background: #2E0CCC;}
.cat-energy .layer-item:hover .icon-info-path,
  .active-layer.layer-energy .icon-info-path, .active-layer.layer-energy .icon-download path{
    fill:#2E0CCC;
  }
.cat-energy .layer-item:hover h2,
  .map-active-layers .active-layer.layer-energy .layer-item h2,
  .cat-item.cat-energy .layer-item h2:hover,
  .cat-item.cat-energy .layer-item h2.active{
  color:#2E0CCC;
}
.map-active-layers .layer-energy .layer-status.active,
 .categories .cat-energy .layer-status.active,
 .map-active-layers .active-layer.layer-energy h6{
  background: #2E0CCC;
}

.cat-agriculture .category-color{background: #00C7A4;}
.cat-agriculture .layer-item:hover .icon-info-path,
  .active-layer.layer-agriculture .icon-info-path, .active-layer.layer-agriculture .icon-download path{
    fill:#00C7A4;
  }
.cat-agriculture .layer-item:hover h2,
  .map-active-layers .active-layer.layer-agriculture .layer-item h2,
  .cat-item.cat-agriculture .layer-item h2:hover,
  .cat-item.cat-agriculture .layer-item h2.active{
  color:#00C7A4;
}
.map-active-layers .layer-agriculture .layer-status.active,
 .categories .cat-agriculture .layer-status.active,
 .map-active-layers .active-layer.layer-agriculture h6{
  background: #00C7A4;
}
