.cambodia-color{
    color: #66CC00;
}
a, a:visited, #sidebar .widget li a{
 color: white; /* #7BCC2E; #6393D2, #2774da;*/
 text-decoration:none
}
a:hover, #sidebar .widget li a:hover{
	color: #213D49;
	text-decoration:underline
}
a strong:hover {
	color: #213D49;
	text-decoration:underline
}
button,
a.button,
.button {
	background: #66CC00;
}
tr:nth-child(2n+1) {
    background-color: #eefbe6;
}
#od-head {
	background: #17303a;
	color: #f0f0f0;
}

#od-head #ms-nav {
	background: #213d49;
}

#od-head #main-nav .menu ul > li:hover a,
#od-head #main-nav ul.menu > li:hover,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover ,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li > ul.sub-menu > li a:hover {
	background-color: #97d320;
}

#od-head h1 a,
#od-head h1 span {
	text-decoration: none;
	color: #97d320;
}

#od-head h2,
#od-head a,
#od-head span {
	color: #fff;
}
#od-head a:hover{
	color: #66CC00;
}
#od-head .ms-dropdown-title ul {
	background: #17303a;
}

#od-head .ms-dropdown-title ul li {
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

#od-head .notification-message-box a{
    color: #333;
}
.notification-message-box{
    border: 2px solid #97D320;
    color: #17303a;
}
.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #97d320;
	border-color: #97d320;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 10px solid #97d320;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-top: 10px solid #97d320;
}

#site-intro {
	background: #97d320;
}
.current-site-cambodia{
	background: #97d320;
}
/*## Nav Concept ##*/
/*logo*/
[class^="icon-"], [class*=" icon-"]{ color: #97d320;}

/*L kasten links*/
.mainNavOdc,.headerODM{background:#17303a;}
/*nav oben*/
.white #cNavNew.current-site-mekong,.contentNavigation{background:#213d49;}
/*header text*/
.white #headerText span a{color:#97d320;text-decoration: none;}
  /*level 1 hover*/

.white #cNavNew.level1>li:hover,li.top-topic{background:#97d320;}
.mainNav-inner .level1 li:hover {background: #213d49;}
.mainNav-inner .level1 li:hover a{color: white;}
  /*level 1 active*/
  /*#cNavNew.level1>li.cur>a, .white #cNavNew.level1>li.act>a{background: red;}*/

/*sub-nav oben*/
  /*level 2*/
  #cNavNew li:hover .level2,#cNavNew li:hover .level2 a {background:#97d320; color:white;}
  /*level 2 hover*/
  #cNavNew li .level2 li:hover>a{background:#213d49;color:white;}


/*Ländernav liks*/
  .white #mainNav-inner .level1>li>a{color: white;}
  /*hover*/
  .white #mainNav-inner ul.level1>li:hover>a{background:#97d320;}
  /*active*/
  .mainNav-inner ul.level1>li.act>a{color:white;background:#97d320;}
