#profiles td{
  line-height: 16px;
}
table.dataTable thead th, table.dataTable tfoot th{
  font-weight: normal!important;
  font-size: 13px!important;
  font-style: italic;
  padding: 10px!important;
  text-align: left;
  vertical-align: top;
}
.dataTables_info, .dataTables_length > label,.paginate_button,.paginate_button.current{
  font-size: 13px;
  font-weight: normal;
}

.dataTables_scrollBody th {
    display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.next{
    margin-left: 10px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    visibility: hidden;
}
.dataTables_length {
    margin-top: 8px;
}
.dataTables_info {
  margin-top: 2px;
}
.dataTables_paginate{
    margin: 5px;
    margin-top: 7px;
}


.top {
    display: block;
    height: auto;
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_scroll {
    display: block;
    padding-top: 15px;
}


.dataTables_length{
  margin-top: 10px;
}

/*temporary hiding references*/
#profiles td ul{
  display: none;
}
#profiles tbody{
  width:100%;
}
.disclaimer {
  font-size: 12px;
  margin-top: 20px;
}
.disclaimer p{
  margin-bottom: 6px;
}

.page-template-page-profiles .single-post .row{
  margin-top: 0;
}
