.laos-color{
    color: #D61E2A;
}
a, a:visited, #sidebar .widget li a{
 color: #D61E2A; /*6393D2, 2774da;*/
 text-decoration:none
}
a:hover, #sidebar .widget li a:hover{
	color: #3b2226; /*eec800;*/
	text-decoration:underline
}
a strong:hover {
	color: #3b2226;
	text-decoration:underline
}
button,
a.button,
.button {
	background: #D61E2A;
}
tr:nth-child(2n+1) {
    background-color: #fbdfe1;
}
#od-head {
	background: #3b2226;
	color: #f0f0f0;
}

#od-head #ms-nav {
	background: #583a43;
}
#od-head #main-nav .menu ul > li:hover a,
#od-head #main-nav ul.menu > li:hover,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover ,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li > ul.sub-menu > li a:hover {
	background-color: #D61E2A;
}
#od-head h1 a,
#od-head h1 span {
	text-decoration: none;
	color: #D61E2A;
}

#od-head h2,
#od-head a,
#od-head span {
	color: #fff;
}
#od-head a:hover{
	color: #D61E2A;
}
#od-head .ms-dropdown-title ul {
	background: #3b2226;
}

#od-head .ms-dropdown-title ul li {
	border-bottom: 1px solid rgba(0,0,0,0.4);
}
.notification-message-box{
    border: 2px solid #D61E2A;
    color: #3b2226;
}
.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #97d320;
	border-color: #97d320;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #D61E2A;
	border-color: #D61E2A;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 10px solid #D61E2A;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-top: 10px solid #D61E2A;
}

#site-intro {
	background: #D61E2A;
}
.current-site-laos{
	background: #D61E2A;
}
#od-head #main-nav ul li.current_page_item a{
	color: #D61E2A;
	font-weight: bold;
}
.widget .opendev-summary ol li a:hover {
	color: #D61E2A;
	text-decoration:underline
}

/*New Nav Concept*/

/*logo*/
[class^="icon-"], [class*=" icon-"]{ color: #D61E2A;}

/*L kasten links*/
.mainNavOdc,.headerODM{background:#3b2226;}
/*nav oben*/
.white #cNavNew.current-site-mekong,.contentNavigation{background:#583a43;}
/*header text*/
.white #headerText span a{color:#D61E2A;text-decoration: none;}
/****  remove **** /*level 1 hover*/



/*sub-nav oben*/
  /*level 2*/
  #cNavNew li:hover .level2,#cNavNew li:hover .level2 a {background:#D61E2A; color:white;}
  /*level 2 hover*/



/*Ländernav liks*/
  .white #mainNav-inner .level1>li>a{color: white;}
  /*hover*/
  /*.white #mainNav-inner ul.level1>li:hover>a{background:#373c6a;}*/

/*After prototype fixes*/
.white #cNavNew.level1>li:hover,li.top-topic{background:#D61E2A;}
.mainNav-inner .level1 li:hover {background: #583a43;}
.mainNav-inner ul.level1>li.act>a,.mainNav-inner .level1 li:hover a{color: white;}
.mainNav-inner ul.level1>li.act>a{background: #D61E2A;}
#cNavNew li .level2 li:hover>a{background:#3b2226;color:white;}
