#law_datasets{
  width:100%;
  border: none;
}

.law_search_box{
  background: rgb(246,246,246);
  margin-top: 34px;
}

.law_search_box_header{
  line-height: 20px;
  background: #292d56;
  color: white;
  padding: 7px;
  font-style: italic;
}

.law_search_box_header .big{
  font-weight: bolder;
  font-style: normal;
}

.law_search_box_wrapper{
  padding: 10px 5px
}

#search_all{
  width:150px;
}

.dataTables_length select{
  margin: 0px !important;
  width: 40px;
  display: inline;
}

.top{
  padding-bottom: 10px;
}

.no-padd{
  margin: 0px;
}

.pagination{
  text-align: right;
}

.length{
  text-align: right;
  margin-right: 20px;
}

.bottom{
  padding-top: 10px;
}

.icon-envelop{
  width: 18px;
  height: 18px;
}

.section-title{
  border: 0!important;
}

.sorting{
  text-align: left;
  padding: 4px 10px;
}

.group{
  background: rgb(246,246,246) !important;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  padding: 10px 10px;
}

table.law_datasets thead{
  background: #292d56;
  color: #fff;
}

table.law_datasets tr,table.law_datasets td{
  background: none;
  border:none;
  padding: 12px 5px;
  margin-bottom: 4px;
}

.law_datasets_download_header,.law_datasets_download_value{
  min-width: 110px;
  text-align: center;
}

.law_datasets_promulgation_date_header,.law_datasets_promulgation_date_value{
  min-width: 110px;
  text-align: center;
}

.law_datasets_document_number_header,.law_datasets_document_number_value{
  min-width: 110px;
  text-align: center;
}

td.law_title a{
  color: #6393d2;
}

td.law_datasets_download_value span.icon-arrow-down{
  position: relative;
  top:2px;
}

td.law_datasets_download_value span a{
  color: white;
  text-decoration: none;
  padding: 3px 2px;
  background: rgb(75,75,75);
  border-radius: 6px;
}
