.map-sidebar {
	background: #333;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
	color: #96979C;
	height: 100%;
	width: 35%;
	min-width: 300px;
	max-width: 640px;
	z-index: 1000;
	word-wrap: break-word;
	overflow: hidden;
	float: right;
	position: relative;
	z-index: 100;
}
.map-sidebar a {
	text-decoration: none;
	color: #fff;
}
.map-sidebar a.button,
.map-sidebar .button {
	color: #fff;
}
.map-sidebar .button.open-slideshow {
	padding: 2px 7px;
	font-size: 10px;
	background: #444;
	border-color: #555;
}
.map-sidebar .button.open-slideshow:hover {
	background: #404040;
}
.map-sidebar .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
	padding: 10px;
}
.map-sidebar .buttons .button {
	width: 1%;
	display: table-cell;
	border: 0;
	border-right: 2px solid #333;
	padding: 10px 0;
}
.map-sidebar .buttons .button:last-child {
	border-right: 0;
}
.map-sidebar .media-limit img {
	max-width: 9999px;
	width: 100%;
	height: auto;
}
.map-sidebar .sidebar-inner {
	height: 100%;
	position: relative;
}
.map-sidebar .viewing-post {
	display: none;
	position: relative;
	height: 100%;
}
.map-sidebar .viewing-post .close-story {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	font-size: 14px;
	line-height: 26px;
	padding: 0 9px 0 8px;
	background: #77a832;
	color: #f0f0f0;
	font-weight: 800;
}
.map-sidebar .viewing-post.active {
	display: block;
}
.map-sidebar .story {
	padding: 30px 30px 60px;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	position: relative;
}
.map-sidebar .story::-webkit-scrollbar {
	background: #303030;
	width: 15px;
}
.map-sidebar .story::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 15px;
	border: 5px #303030 solid;
}
.map-sidebar h2 {
	color: #fff;
	margin: 10px 0;
}
.map-sidebar object,
.map-sidebar object embed,
.map-sidebar iframe,
.map-sidebar img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.map-sidebar .sharing .button {
	margin: 5px 5px 5px 0;
}
.map-sidebar .sharing .social {
	margin: 15px 0 0;
}
.map-sidebar .sharing .social .twitter-button,
.map-sidebar .sharing .social .fb-like {
	float: left;
	margin: 0 10px 10px 0;
}
