
/*map explorer*/
body.page-template-page-map-explorer{overflow: hidden;}
.page-template-page-map-explorer #wrap-feedback{ display: none;}
.page-template-page-map-explorer #notification-message{ display: none; }
.page-template-page-map-explorer #colophon{ display: none; }
.page-template-page-map-explorer #main-breadcrumb{  display: none; }

.page-template-page-map-explorer .interactive-map .fullscreen-map,
.page-template-page-map-explorer .fullscreen-map.map-container {
  bottom: 0;
  height: auto !important;
  left: 0;
  position: fixed !important;
  right: 0;
  top: 0;
  width: auto !important;
  z-index: 9999999;
}
.page-template-page-map-explorer .interactive-map .fullscreen-map .category-map-layers{
  z-index: 9999999;
  position: fixed;
  right: 10px;
}
.page-template-page-map-explorer .interactive-map .fullscreen-map .map-legend-container{
  z-index: 9999999;
  position: fixed;
  left: 0;
}
.page-template-page-map-explorer .interactive-map .map-container .leaflet-left{
    left: 0;
}
.page-template-page-map-explorer .interactive-map .map-container .leaflet-top{
    top: 2px;
}
.page-template-page-map-explorer .interactive-map .map-container .leaflet-right{
  display: none;
}
.page-template-page-map-explorer #clear{
  display: none;
}


.page-template-page-map-explorer .interactive-map{
  border: 0;
  box-shadow: none;
  position: relative;
  top: 0;
}

.page-template-page-map-explorer .interactive-map .map-container {
  width: 100%;
  float: none;
  overflow: hidden;
  position: relative;;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
}
.page-template-page-map-explorer .category-map-layers{
  /*top: 12px;*/
  bottom: 15px;
  position: absolute;
  z-index: 100;
  background: white;
  width: 270px;
  height: auto !important; /* real browsers */
  /*min-height: 100%;  real browsers */
  right: 10px;
  }
.page-template-page-map-explorer .interactive-map-layers {
  min-height: 100%; /* real browsers*/
  width: 100%;
  background: white;
  overflow-y: auto;
  }

/* Clearscreen */
.leaflet-control .hide-all-boxes-on-map {
    background-image: url(../img/cearscreen-button.png);
    background-position: 1px 0px;
    background-repeat: no-repeat;
}
.leaflet-control .show-all-boxes-on-map {
    background-image: url(../img/cearscreen-button.png);
    background-position: -28px 0px;
    background-repeat: no-repeat;
}
/*.page-template-page-map-explorer .interactive-map-layers svg{
  width: 13px;
  height: 13px;
  float: right;
}*/


.interactive-map .interactive-map-layers  ul {
 margin: 0;
 padding: 0;
}

.interactive-map .interactive-map-layers  ul li {
 list-style-type: none !important;
 padding: 0;
 margin: 0;
 border-bottom: 1px solid #eee;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
 background: #ffffff;
}

.interactive-map .interactive-map-layers ul li a {
 text-decoration: none;
 font-weight: 500;
 display: block;
 padding: 8px 15px;
 color: #333333;
 font-size: 13px;
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.interactive-map .interactive-map-layers  ul li a:hover {
  color: #6393D2;
}
.interactive-map .interactive-map-layers  ul li a:before,
.interactive-map .interactive-map-layers .cat-layers li:before {
 font-family: 'opendev';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 float: left;
 font-size: 16px;
 margin: 0 10px 0 0;
 color: #999;
}
.interactive-map .interactive-map-layers ul li ul {
 margin-top: 0;
 margin-left: 15px;
 background: #f7f7f7;
}
.interactive-map .interactive-map-layers  ul li ul li {
 border-bottom: 0;
 border-top: 1px solid #eee;
 padding: 8px 8px 8px 0;
 box-shadow: 0 0 0;
 background: #fff;
}
.interactive-map .interactive-map-layers  ul li ul li.cat-item{
  padding: 0;
}
.interactive-map .interactive-map-layers  ul li ul li.cat-item .layer-item{
  padding-bottom: 8px;
}
.interactive-map .interactive-map-layers  ul li ul li ul{
  border: none !important;
}
.interactive-map .interactive-map-layers  ul li ul li a {
 padding: 8px 0;
}
.interactive-map .interactive-map-layers  ul li ul li ul {
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}
.interactive-map .interactive-map-layers .cat-item li a{
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}
.interactive-map .interactive-map-layers .cat-item li a:before {
 /*content: '\2192';*/
 content: '\2261';
 color: #aaa;
}
.interactive-map .interactive-map-layers .cat-item li a.active{
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}
.interactive-map .interactive-map-layers .cat-item li a.active:before {
 color: #000;
 content: '\2261';
}

/* For top level of taxonomy */

.interactive-map .interactive-map-layers > ul >li {
  border-bottom: 1px solid #6393D2;
}
.interactive-map .interactive-map-layers > ul >li > a {
  text-transform: uppercase;
}
.interactive-map .interactive-map-layers > ul >li > a.active {
  border-bottom: 1px solid #6393D2;
}
.interactive-map .interactive-map-layers > ul > li > a:before,
.interactive-map .interactive-map-layers  > ul > li > a.active:before {
 content: '';
}
/* For top level of taxonomy */

.categories li.over {
  border: 1px dashed #333;
}
.jeo-filter-layers{
  display:none;
}
.layer-item:hover{
  cursor: pointer;
}
.layer-item a{
  display:inline !important;
}

.layer-item a:before{
 content:none !important;
}
.layer-item .layer-item-name{
  max-width: 68%;
  display: inline-table;
}

.interactive-map .interactive-map-layers .layer-item .list-circle-o{
  border-radius: 2rem;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #aaa;
  background: #fff;color: #aaa;
  margin: 0 9px 0 0;
  position: relative;
  top: 2px;
}
.interactive-map .interactive-map-layers .active .list-circle-o{
  display: none;
}

.interactive-map .interactive-map-layers .layer-item .list-circle-active{
  display: none;
  margin: 0 9px 0 -1px;
  position: relative;
  top: 1px;
}
.interactive-map .interactive-map-layers .active .list-circle-active{
  display: inline-block ;
}
.interactive-map .interactive-map-layers .layer-item .list-circle-active:before {
  content: url(../img/cycle-list-active.png);
  margin: 2px 8px 0 0;
}
.interactive-map .interactive-map-layers .fa{
  font-size: 14px;
  float: right;
  margin-left: 5px;
}

.interactive-map .interactive-map-layers .fa-info{
  font-size: 12px;
  float: none;
  margin: 0 0 0 0;
  position: relative;
  top: -3px;
}
.interactive-map .interactive-map-layers .fa-circle-icon{
  border-radius: 2rem;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  margin: 0 0;
  text-align: center;
}
.interactive-map .interactive-map-layers span:hover{
  /*border: 2px solid #6393D2;*/
  color: #6393D2;
}

.layer-item .legend{
  display: none
}
.map-legend-container{
  width: 250px;
  max-height: 350px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  background: #fff;
  /*padding: 10px 5px 10px 15px;*/
  margin: 10px;
  display: none;
}
.map-legend {
  display:block;
  max-height: 200px;
  overflow-y: auto;
  padding: 0 0 10px 0;
}
.map-legend h5 {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 8px;
    background: #eee;
}
.map-legend-ul{
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 5px 0 15px;
}
.map-legend-ul li{
    margin-bottom: 0;
    padding: 5px 0
}
.color-line{
  border: #6393D2 solid 1px;
  margin: 0 0 5px;
  width: 99%;
  height: 0;
}
.legend, .wms-legend, .cartodb-legend {
  text-align:left !important;
  position: static !important;
  width:98% !important;
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
  padding: 0 0px !important;
  z-index: 8889;
}
.cartodb-legend ul{
  display: block;
  padding-top: 2px;
}
.cartodb-legend.category ul li{
  width: 100%;
  height: auto!important;
  text-decoration: none;
}
.cartodb-legend ul li {
    list-style-type: none!important;
}
div.cartodb-legend .legend-title{
  margin-left: 18px!important;
}
.map-legend-container .widget_headline{
  padding: 10px 5px 0 15px;
}
.widget_headline .hide_show_icon{
  float: right;
  margin-right: 12px;
  margin-top: 5px;
  cursor: pointer;
}
.map-legend-ul .title .hide_show_icon{
  float: right;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}
div.cartodb-legend-stack{
  width: 250px;
}
.layer-cental-screen{
  width: 30%;
  top: 20%;
  position: fixed;
  z-index: 9001;
  left: 35%;
  background: #fff;
}
.layer-right-screen{
   width: 30%;
   position: fixed;
   z-index: 9001;
   right: 315px;
   background: #fff;
   bottom: 1%;
}
.layer-toggle-info-container{
  display: none;
  max-height: 50%;
  height: auto;
}
.layer-toggle-info-content{
  border: 1px solid #aaa;
  padding: 10px 15px 10px 10px;
  margin-bottom: 15px;
}
.layer-toggle-info{
  background-color: #fff;
  padding: 0 10px 10px 15px;
  /*display: none;*/
  overflow-y: auto;
  height: auto;
}
.toggle-close-icon{
  text-align: right;
  margin-right: 3px;
}
.toggle-close-icon .fa-times{
  cursor: pointer;
}
.layer-toggle-info table{
  margin-top: 0;
}
.atlernative_links{
  display: inline-block;
  margin-left: 3.5em;
  float: right;
  margin-bottom: 0.5em;
}
.div-button{
  border-radius: 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;
  width: auto;
  padding: 8px 10px;
  background: #97d320 none repeat scroll 0% 0%;
  margin-bottom: 1em;
  margin-top: -10px;
  float: right;
}
.div-button a{
  color: #fff !important;
}
.div-button:nth-child(2){
  margin-right: 10px;
  float: left;
}
