html, body {
	background: #fff;
}

img {
	max-width: 100%;
}

a.button,
.button {
	background: #6393d2;
	color: #fff;
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border: 0;
}

.leaflet-div-icon {
	background: url(../img/marker.png) no-repeat !important;
	width: 25px !important;
	height: 30px !important;
	margin-top: -30px !important;
	margin-left: -12px !important;
	border: 0 !important;
	box-sizing: border-box !important;
	text-align: center;
	padding-top: 5px;
	padding-left: 1px;
	font-weight: 800;
	font-size: 10px;
	line-height: 10px;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #6393d2;
	border-color: #6393d2;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 10px solid #6393d2;
}

.lang-en, .lang-pt, .lang-es {
	display: block;
}



/*
 * Header
 */

#od-head {
	padding: 40px 0 0;
	background: #292d56;
}

#od-head h1 {
	font-family: 'Droid Serif';
	font-size: 48px;
	line-height: 48px;
	margin: 0 40px 0 0;
	font-family: 700;
	letter-spacing: -4px;
	float: left;
}

#od-head h1 sup {
	font-size: 55%;
	position: relative;
	top: -10px;
}

#od-head h1 a {
	text-decoration: none;
	color: #6393d2;
}

#od-head h1.with-logo,
#od-head h1.with-logo a {
	text-indent: -9999px;
	line-height: 0;
}

#od-head h1.with-logo a img {
	display: block;
	max-width: 300px;
	max-height: 200px;
	width: auto;
	height: auto;
}

#od-head h2.side-title {
	font-family: 'Droid Serif';
	font-size: 30px;
	line-height: 48px;
	float: left;
	margin: 8px 0 0 0;
	color: #fff;
}


#od-head h2 [class^="icon-"],
#od-head h2 [class*=" icon-"] {
	font-size: 50%;
	margin-left: 10px;
}

#od-head h2 img {
	max-height: 38px;
	display: block;
	width: auto;
	margin-top: 5px;
}

#od-head .ms-dropdown-title {
	position: relative;
	z-index: 99999;
	float: left;
	cursor: default;
}

#od-head .ms-dropdown-title:hover ul {
	display: block;
}

#od-head .ms-dropdown-title ul {
	position: absolute;
	top: 55px;
	left: -15px;
	display: none;
	background: #292d56;
}

#od-head .ms-dropdown-title ul li {
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 0;
}

#od-head .ms-dropdown-title ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	min-width: 180px;
	color: #fff;
}

/*
 * Header social nav
 */

#od-head #social-nav {
	float: right;
}

#od-head #social-nav a {
	float: left;
	line-height: 48px;
	margin: 5px 0 0 20px;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

/*
 * Header MS nav
 */

#od-head #ms-nav {
	background: #373c6a;
	margin-top: 20px;
	position: relative;
	z-index: 9999;
}

#od-head #ms-nav ul,
#od-head #ms-nav ul li {
	margin: 0;
	padding: 0;
}

#od-head #ms-nav ul.ms-nav {
	width: 100%;
	position: relative;
}

#od-head #ms-nav ul.ms-nav > li {
	float: left;
	margin: 0;
	border-right: 1px solid rgba(0,0,0,0.15);
}

#od-head #ms-nav ul.ms-nav > li:first-child {
	border-left: 1px solid rgba(0,0,0,0.15);
}

#od-head #ms-nav ul.ms-nav > li > a {
	color: #333;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}

#od-head #ms-nav ul li .sub-menu {
	display: none;
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
	background: #fff;
	color: #333;
	padding: 20px 0 20px 20px;
	z-index: 999999;
	border-bottom: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

#od-head #ms-nav ul li .sub-menu .first-menu {
	border-right: 1px solid #ccc;
	float: left;
	width: 15%;
	box-sizing: border-box;
}

#od-head #ms-nav ul li .sub-menu .first-menu li a {
	color: #666;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
}

#od-head #ms-nav ul li .sub-menu .first-menu li a span {
	font-weight: normal;
	margin-right: 10px;
	font-size: 18px;
	float: left;
	color: #777;
}

#od-head #ms-nav ul li .sub-menu .first-menu li.active a {
	background: #eee;
}

#od-head #ms-nav ul li .sub-menu .first-menu li a:hover {
	color: #111;
}

#od-head #ms-nav ul li .sub-menu .content {
	float: left;
	width: 85%;
	padding: 0 0 0 20px;
	box-sizing: border-box;
}

#od-head #ms-nav ul li .sub-menu .content h2 {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600px;
	margin: 15px 0;
	text-transform: uppercase;
	color: #999;
}

#od-head #ms-nav ul li .sub-menu .content ul {
}

#od-head #ms-nav ul li .sub-menu .content ul li {
	width: 33.3333%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

#od-head #ms-nav ul li .sub-menu .content ul li h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

#od-head #ms-nav ul li .sub-menu .content ul li h3 a {
	text-decoration: none;
}

#od-head #ms-nav ul.ms-nav > li:hover {
	background: #fff;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
}

#od-head #ms-nav ul.ms-nav > li:hover a {
	color: #333;
}

#od-head #ms-nav ul.ms-nav li:hover .sub-menu {
	display: block;
}

/*
 * Header main nav
 */

#od-head #main-nav {
	background: #fff;
	margin: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #c9c9c9;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
}

#od-head #main-nav .qtrans_language_chooser {
	float: right;
	font-size: 12px;
	width: auto;
}

#od-head #main-nav .qtrans_language_chooser li {
	margin: 0 0 0 20px;
}

#od-head #main-nav .qtrans_language_chooser li a span {
	color: #333;
}

#od-head #main-nav ul,
#od-head #main-nav ul li {
	margin: 0;
	padding: 0;
}

#od-head #main-nav ul.menu {
	width: 100%;
	z-index: 999;
	position: relative;
}

#od-head #main-nav ul.menu > li,
#od-head #main-nav .qtrans_language_chooser li {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
}

#od-head #main-nav ul.menu > li > ul {
	display: none;
	position: absolute;
	top: 48px;
	left: -5px;
	background: #fff;
	padding: 5px 0 0;
	width: 200px;
	border-left: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

#od-head #main-nav ul.menu > li > ul li {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
}

#od-head #main-nav ul.menu > li > ul li a {
	padding: 0 10px 10px;
	margin: 0 0 10px;
	border-bottom: 1px solid #ddd;
	display: block;
	float: none;
	text-transform: none;
}

#od-head #main-nav ul.menu > li > ul li:last-child a {
	margin: 0;
	border: 0;
}

#od-head #main-nav ul.menu > li:hover > ul {
	display: block;
}

#od-head #main-nav a {
	color: #333;
	text-decoration: none;
	display: block;
	float: left;
	padding: 15px 0;
	text-transform: uppercase;
}

/*
 * Headings
 */

.search .section-title h1 {
	font-family: "Droid Serif";
	margin: 10px 0;
}

.section-title, .single-post-header, .page-header {
	background: transparent;
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-khtml-box-shadow: 0 0 0;
	-o-box-shadow: 0 0 0;
	margin: 0;
}

.single-post-header p.date {
	font-size: 14px;
	color: #999;
}

.single-post-header p.date .lsf {
	margin-right: 5px;
	color: #666;
}

.section-title {
	padding: 30px 0 15px;
	border-bottom: 1px solid #ddd;
	margin: 0 0 40px;
}

.section-title h2,
.section-title h3 {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.section-title h2 a,
.section-title h3 a {
	text-decoration: none;
}

.section-title.main-title h3 {
	font-size: 14px;
	margin: 0 0 10px;
}

.section-title.main-title h3 a {
	color: #999;
}

.section-title.main-title h3 a:hover {
	color: #333;
}

.section-title.main-title h2 {
	margin: 0 0 20px;
	font-size: 32px;
	line-height: 32px;
	text-transform: none;
}

.query-actions {
	text-align: right;
	margin-bottom: 20px;
}

.query-actions .query-actions-title {
	font-weight: 600;
	margin-right: 10px;
	text-transform: uppercase;
	color: #999;
	font-size: 12px;
}

.query-actions a {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 10px;
	font-size: 12px;
}

.query-actions [class^="icon-"],
.query-actions [class*=" icon-"] {
	margin-right: 5px;
	color: #999;
}

.archive .query-actions {
	margin-top: 25px;
}

.single-post-header h1,
.page-header h1,
.archive-title {
	font-family: "Droid Serif";
}

.archive-title {
	float: left;
}

#main-title-nav {
	border-top: 1px solid #dedede;
	padding: 0;
	margin: 15px 0 -15px;
}

#main-title-nav ul {
	margin: 0;
	padding: 0;
	border-left: 1px solid #dedede;
}

#main-title-nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#main-title-nav ul li a {
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	border-right: 1px solid #dedede;
	color: #999;
}

#main-title-nav ul li a:hover {
	color: #333;
}

/*
 * Site intro
 */

#site-intro {
	padding: 60px 0 20px;
	background: #6393D2;
}

#intro-texts [class^="icon-"],
#intro-texts [class*=" icon-"] {
	float: left;
	font-size: 40px;
	line-height: 100%;
	margin: 0 40px 0 0;
	padding-top: 20px;
	color: #fff;
}

#intro-texts .text-item {
	display: table;
	color: #fff;
}

#intro-texts .text-item .icon,
#intro-texts .text-item .content {
	display: table-cell;
	vertical-align: top;
}


#intro-texts h3 {
	font-size: 24px;
	color: #fff;
}

#intro-texts p {
	font-size: 16px;
	line-height: 150%;
}


#intro-texts p a {
	color: #fff;
}

/*
 * Live search
 */

#live-search {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

#live-search ::-webkit-input-placeholder {
	color: #666;
	text-transform: uppercase;
}

#live-search :-moz-placeholder { /* Firefox 18- */
	color: #666;
	text-transform: uppercase;
}

#live-search ::-moz-placeholder {  /* Firefox 19+ */
	color: #666;
	text-transform: uppercase;
}

#live-search :-ms-input-placeholder {
	color: #666;
	text-transform: uppercase;
}

#live-search input[type=text] {
	border: 0;
	background: transparent;
	color: #333;
	padding: 20px 0;
	font-size: 16px;
	display: block;
	margin: 0;
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-align: center;
	border-bottom: 1px solid #aaa;
	margin-bottom: -1px;
}
#live-search input:focus {
	outline: none;
	border: 0;
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	border-bottom: 1px solid #aaa;
}
#live-search .results {
	margin: 0;
	padding: 0;
}
#live-search .results li {
	margin: 0;
	padding: 0;
	padding: 15px 20px 15px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 33.3333%;
	float: left;
	background: rgba(255, 255, 255, 0.15);
}
#live-search .results li h2 {
	font-size: 20px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
#live-search .results li h2 a {
	text-decoration: none;
}
#live-search .results li p {
	color: #999;
	margin: 0;
}
#live-search .results li p.excerpt {
	display: none;
}
#live-search .results li.item-1 {
	width: 100% !important;
	padding: 20px 20px 20px 0;
}
#live-search .results li.item-1 h2 {
	font-size: 24px;
}
#live-search .results li.item-1 p.excerpt {
	display: block;
}
#live-search .results li.more {
	width: 100% !important;
	text-align: center;
	color: #666;
	text-transform: uppercase;
}
#live-search .results li.more a {
	display: block;
	text-align: center;
	color: #f0f0f0;
	background: #6393d2;
	padding: 10px 0;
	margin-bottom: -15px;
	text-decoration: none;
}
#live-search .results li.more a:hover {
	text-decoration: none;
	color: #fff;
}
#live-search .results.results-2 li {
	width: 100%;
}
#live-search .results.results-3 li {
	width: 50%;
}
#live-search .results.results-5 li.item-5 {
	width: 100%;
}
#live-search .results.results-6 li.item-2 {
	width: 50%;
}
#live-search .results.results-6 li.item-3 {
	width: 50%;
}

/*
 * News section
 */

#news {
	padding-top: 60px;
}

#news.page-section .section-title {
	margin: 0;
	border: 0;
}

#news.page-section .section-map {
	height: 600px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	box-sizing: border-box;
}

.map-container {
	min-height: 0 !important;
}

#news.page-section .section-map .map-container,
#news.page-section .section-map .mapgroup-container {
	height: 100%;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container {
	display: block;
	top: -40px;
	right: 35%;
	left: auto;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 0 !important;
	border-top: 10px solid #6393d2;
	top: auto;
	bottom: -10px;
}

/*
 * Sticky
 */

.sticky-posts {
	height: 100%;
	width: 100%;
	color: #333;
	position: relative;
	z-index: 10;
	border-left: 1px solid #ccc;
	box-sizing: border-box;
}
.sticky-posts .sticky-item {
	height: 25%;
	width: 100%;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	cursor: pointer;
}
.sticky-posts .sticky-item:last-child {
	border-bottom: 0;
}
.sticky-posts .sticky-item article {
	padding: 20px;
}
.sticky-posts .sticky-item article .post-thumbnail {
	float: left;
	margin: -20px 20px -20px -20px;
	height: 82%;
}
.sticky-posts .sticky-item article .post-thumbnail img {
	display: block;
	width: auto;
	height: 100%;
}
.sticky-posts .sticky-item article h2 {
	color: #333;
	font-family: "Droid Serif";
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sticky-posts .sticky-item.active article p.date {
	font-size: 12px;
	display: block;
	color: #999;
}
.sticky-posts .sticky-item article .post-content,
.sticky-posts .sticky-item article .post-actions,
.sticky-posts .sticky-item article p.date {
	display: none;
}
.sticky-posts .sticky-item.active,
.sticky-posts .sticky-item:hover {
}
.sticky-posts .sticky-item.active article h2 {
	color: #000;
	white-space: normal;
	overflow: visible;
	text-overflow: clip;
}
.sticky-posts.post-active .sticky-item {
	height: 10%;
}
.sticky-posts.post-active .sticky-item article .post-thumbnail {
	margin: -20px 20px -20px -20px;
	height: 100%;
}
.sticky-posts.post-active .sticky-item article h2 {
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	padding: 0;
}
.sticky-posts.post-active .sticky-item.active {
	height: 70%;
}
.sticky-posts.post-active .sticky-item.active article .post-thumbnail {
	margin: 0 20px 20px 0;
	width: 33%;
	height: auto;
}
.sticky-posts.post-active .sticky-item.active article .post-thumbnail img {
	width: 100%;
	height: auto;
}
.sticky-posts.post-active .sticky-item.active article h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 10px;
}
.sticky-posts.post-active .sticky-item.active article .post-area {
	height: 238px;
	margin-bottom: 15px;
	overflow: hidden;
}
.sticky-posts.post-active .sticky-item.active article .post-content,
.sticky-posts.post-active .sticky-item.active article .post-actions {
	display: block;
}

.map-sidebar {
	color: #96979C;
	height: 100%;
	width: 35%;
	min-width: 300px;
	max-width: 640px;
	z-index: 1000;
	word-wrap: break-word;
	overflow: hidden;
	float: right;
	position: relative;
	z-index: 100;
}
.map-sidebar a {
	text-decoration: none;
	color: #fff;
}
.map-sidebar a.button,
.map-sidebar .button {
	color: #fff;
}
.map-sidebar .button.open-slideshow {
	padding: 2px 7px;
	font-size: 10px;
	border-color: #555;
}
.map-sidebar .button.open-slideshow:hover {
	background: #404040;
}
.map-sidebar .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
	padding: 10px;
}
.map-sidebar .buttons .button {
	width: 1%;
	display: table-cell;
	border: 0;
	border-right: 2px solid #333;
	padding: 10px 0;
}
.map-sidebar .buttons .button:last-child {
	border-right: 0;
}
.map-sidebar .media-limit img {
	max-width: 9999px;
	width: 100%;
	height: auto;
}
.map-sidebar .sidebar-inner {
	height: 100%;
	position: relative;
}
.map-sidebar .viewing-post {
	display: none;
	position: relative;
	height: 100%;
}
.map-sidebar .viewing-post .close-story {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	font-size: 14px;
	line-height: 26px;
	padding: 0 9px 0 8px;
	background: #77a832;
	color: #f0f0f0;
	font-weight: 800;
}
.map-sidebar .viewing-post.active {
	display: block;
}
.map-sidebar .story {
	padding: 30px 30px 60px;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	position: relative;
}
.map-sidebar .story::-webkit-scrollbar {
	background: #303030;
	width: 15px;
}
.map-sidebar .story::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 15px;
	border: 5px #303030 solid;
}
.map-sidebar h2 {
	color: #fff;
	margin: 10px 0;
}
.map-sidebar object,
.map-sidebar object embed,
.map-sidebar iframe,
.map-sidebar img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.map-sidebar .sharing .button {
	margin: 5px 5px 5px 0;
}
.map-sidebar .sharing .social {
	margin: 15px 0 0;
}
.map-sidebar .sharing .social .twitter-button,
.map-sidebar .sharing .social .fb-like {
	float: left;
	margin: 0 10px 10px 0;
}

/*
 * Latest news
 */

#latest-news .section-title h2 {
	float: left;
	margin-right: 20px;
}

#latest-news .section-title .query-actions a {
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 10px;
	font-size: 12px;
}



/*
 * Briefing page section
 */

#briefs.list article img {
	width: 100%;
	height: auto;
}

#briefs.list article header h3 {
	margin: 0 0 20px;
}

#briefs.list article header h3 a {
	text-decoration: none;
}

#briefs.list article header p {
	margin: 0 0 10px;
	color: #777;
}

#briefs.list article header p span {
	margin-right: 10px;
}

#briefs.list .main-section-link {
	display: block;
	text-align: center;
	padding: 15px 0;
}

.posts-section #briefs article header p {
	font-size: 12px;
}

.posts-section #briefs article p {
	font-size: 16px;
	line-height: 150%;
}

/*
 * Tabbed post list
 */

.tabbed-posts-section {
	border: 1px solid #ddd;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.tabbed-posts-list {
	margin: 0;
	padding: 0;
}

.tabbed-posts-list li {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

.tabbed-posts-list li article h3 a {
	text-decoration: none;
}
.tabbed-posts-list li article .meta {
	margin: 0 0 20px;
}
.tabbed-posts-list li article .meta p {
	margin: 0 0 5px;
	font-size: 14px;
	color: #666;
}
.tabbed-posts-list li article .meta p span {
	margin-right: 10px;
}

#tabbed-post-type-nav ul {
	width: 100%;
	display: table;
	margin: 0 0 20px;
	padding: 0;
	border-bottom: 1px solid #ddd;
}

#tabbed-post-type-nav ul li:last-child {
	border-right: 0;
}

#tabbed-post-type-nav ul li {
	display: table-cell;
	width: 1%;
	text-align: center;
	border-right: 1px solid #ddd;
}

#tabbed-post-type-nav ul li a {
	display: block;
	padding: 20px 0;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	background: #f0f0f0;
}

#tabbed-post-type-nav ul li.active a {
	background: #fff;
	font-weight: 600;
}

#tabbed-post-type-nav ul li a:hover {
	background: #fff;
}

/*
 * Post list
 */

.opendev-posts-list li article {
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	padding: 20px;
}
.opendev-posts-list li article h3 a {
	text-decoration: none;
}
.opendev-posts-list li article .meta {
	margin: 0 0 20px;
}
.opendev-posts-list li article .meta p {
	margin: 0 0 5px;
	font-size: 14px;
	color: #666;
}
.opendev-posts-list li article .meta p span {
	margin-right: 10px;
}

#wpckan_search_results h2 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 22px;
}
#wpckan_search_results .wpckan_dataset_list > ul > li {
	margin: 0 0 20px;
}
#wpckan_search_results .button {
	display: block;
	text-align: center;
}

/*
 * Site updates and announcements section
 */

#site-updates article,
#announcements article {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}

#site-updates .update-list,
#announcements .announce-list {
	margin-top: -15px;
}

#site-updates article h3,
#announcements article h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	margin: 0;
}

#site-updates article h3 a,
#announcements article h3 a {
	text-decoration: none;
}

#site-updates article p,
#announcements article p {
	font-size: 12px;
	color: #777;
	margin: 0;
}

/*
 * Box section
 */

.box-section {
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}

.box-section .box-title {
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 15px 20px;
}

.box-section .box-title h2,
.box-section .box-title h3 {
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0;
	color: #444;
}

.box-section .box-items {
	display: table;
	width: 100%;
}

.box-section .box-items .box-item {
	width: 1%;
	display: table-cell;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
	padding: 15px 20px;
}

.box-section .box-items .box-item:first-child {
	border-left: 0;
}

/*
 * Single content
 */

.single section.content {
	font-size: 16px;
	line-height: 150%;
}

.single section.content h1,
.single section.content h2,
.single section.content h3,
.single section.content h4 {
	font-family: 'Droid Serif';
	font-weight: 200;
	margin: 40px 0;
}

.single section.content .wp-feature-box .wp-feature-box-header h2 {
	margin: 0px auto 20px;
}

.single section.content h1 a,
.single section.content h2 a,
.single section.content h3 a,
.single section.content h4 a {
	text-decoration: none;
}

#featured-media .map-container,
#featured-media .mapgroup-container {
	height: 100%;
}


/*
 * page
 */

#content.single-post {
	font-size: 16px;
	line-height: 150%;
}

/*
 * Share widget
 */


.widget .share ul {
	width: 100%;
	display: block;
	margin: 0 0 20px;
}

.widget .share ul li {
	float: left;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}

.widget .share ul li > * {
	margin-right: 10px;
}

.widget .share ul li > .fb {
	width: 90px;
}

.widget .share ul li > .twitter {
	width: 120px;
}

/*
 * Related datasets box
 */

#related-datasets .box-items {
	table-layout: fixed;
}

#related-datasets .group-item h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #999;
	line-height: 18px;
	margin: 0 0 20px;
}

#related-datasets .dataset-list {
	margin: 0;
	padding: 0;
}

#related-datasets .dataset-item {
	margin: 0 -20px 20px;
	padding: 0 20px 20px;
	border-bottom: 1px solid #ddd;
}

#related-datasets .dataset-item:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

#related-datasets .dataset-item h4 {
	font-size: 18px;
}

#related-datasets .dataset-item h4 a {
	text-decoration: none;
}

#related-datasets .dataset-item p {
	margin: 0 0 10px;
}

#related-datasets .dataset-item p.read-more {
	margin: 0;
}

#related-datasets .dataset-resources {
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

#related-datasets .dataset-resources .resource-item {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

#related-datasets .dataset-resources .resource-item a {
	text-decoration: none;
}

#related-datasets .dataset-resources .resource-item .format {
	background: #eee;
	padding: 3px 7px;
	font-size: 12px;
	margin-left: 10px;
}

#related-datasets .toggle-resources {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #444;
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

#related-datasets.collapsed .dataset-item h4,
#related-datasets.collapsed .dataset-item p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
 * Interactive Map ?
 */

.interactive-map {
	height: 600px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	box-sizing: border-box;
}

.interactive-map .map-container {
	width: 66.66666%;
	height: 100%;
	float: left;
}

.interactive-map .interactive-map-layers {
	width: 33.33333%;
	float: left;
	box-sizing: border-box;
	border-left: 1px solid #ccc;
	height: 100%;
	overflow: auto;
}

.interactive-map .interactive-map-layers  ul {
	margin: 0;
	padding: 0;
}

.interactive-map .interactive-map-layers  ul li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}

.interactive-map .interactive-map-layers  ul li a {
	text-decoration: none;
	font-weight: 600;
	display: block;
	padding: 20px;
}

.interactive-map .interactive-map-layers  ul li a:before,
.interactive-map .interactive-map-layers .cat-layers li:before {
	font-family: 'opendev';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	font-size: 16px;
	margin: 0 10px 0 0;
	color: #999;
}

.interactive-map .interactive-map-layers  ul li a:before {
	content: '\e6d5';
}

.interactive-map .interactive-map-layers  ul li a.active:before {
	content: '\e6d3';
}

.interactive-map .interactive-map-layers  ul li ul {
	margin-top: 0;
	background: #f7f7f7;
}

.interactive-map .interactive-map-layers  ul li ul li {
	border-bottom: 0;
	border-top: 1px solid #ccc;
	padding: 10px 20px;
	box-shadow: 0 0 0;
}

.interactive-map .interactive-map-layers  ul li ul li:hover {
	background: #fff;
	cursor: pointer;
}

.interactive-map .interactive-map-layers  ul li ul li a {
	padding: 10px 0;
}

.interactive-map .interactive-map-layers  ul li ul li ul {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.interactive-map .interactive-map-layers .cat-layers li:before {
	content: '\e65d';
	color: #999;
}

.interactive-map .interactive-map-layers .cat-layers li.active:before {
	color: #000;
}

/*
 * CKAN search
 */

.data-page .single-post-header {
	margin: 0 0 30px 0;
}

.data-page h1 {
	float: left;
	margin: 0 40px 0 0;
}

.data-page h1 span {
	font-weight: normal;
	font-size: 40px;
	margin: 0 20px 0 0;
}

.data-page .access-database {
	margin: 15px 0 0;
	float: right;
}

.data-page .access-database a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}


#wpckan_archive #wpckan_search {
	width: 100%;
	padding: 15px;
	font-size: 18px;
	margin: 0;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
}

#wpckan_archive .access-database a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 0;
	font-size: 16px;
}

#wpckan_archive .wpckan_dataset_list > ul {
	padding: 0;
	margin: -10px;
}

#wpckan_archive .wpckan_dataset_list > ul > li {
	width: 25%;
	margin: 0;
	padding: 0;
	float: left;
}

#wpckan_archive .wpckan_dataset_list > ul > li .wpckan_dataset {
	margin: 10px;
}

.wpckan_dataset_list > ul > li .wpckan_dataset {
	padding: 20px;
	margin: 0;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
	line-height: 150%;
}

.wpckan_dataset_list .wpckan_dataset_title {
	font-size: 18px;
	line-height: 150%;
	font-weight: 600;
	margin: 0 0 20px;
}

.wpckan_dataset_list .wpckan_dataset_title a {
	text-decoration: none;
}

.wpckan_dataset_list .wpckan_resources_list {
	margin: 20px 0 0;
}

.wpckan_dataset_list .wpckan_resources_list ul {
	margin: 0 -20px -20px;
	padding: 0;
}

.wpckan_dataset_list .wpckan_resources_list ul li {
	border-top: 1px solid #ccc;
	padding: 10px 20px;
	margin: 0;
	color: #999;
	background: #f7f7f7;
}

.wpckan_dataset_list .wpckan_resources_list ul li:hover {
	background: #fff;
}

.wpckan_dataset_list .wpckan_resources_list ul li a {
	color: #333;
	font-weight: 400;
	text-decoration: none;
	margin: 0 0 8px;
	display: block;
}

.wpckan_dataset_list .wpckan_resources_list ul li a:before {
	content: '\e6a4';
	font-family: 'opendev';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	font-size: 16px;
	margin: 0 10px 0 0;
	color: #999;
}

#wpckan_archive #wpckan_nav {
	text-align: center;
}

/*
 * Widgets
 */

#sidebar .widgets .widget,
.widget {
	border: 1px solid #ddd;
	padding: 10px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	-o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

#sidebar .widgets .widget.share-widget,
.widget.share-widget,
#sidebar .widgets .widget.widget_search,
.widget.widget_search {
	box-shadow: 0 0 0;
	padding: 0;
	border: 0;
}

.widget.widget_search input {
	width: 100%;
	box-sizing: border-box;
}

#sidebar .widgets .widget .widget-title,
.widget .widget-title {
	font-family: 'Open Sans';
	font-weight: 800;
	margin: -11px -10px 10px;
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #666;
	text-transform: uppercase;
	font-size: 14px;
}

#sidebar .widgets .widget li a,
.widget li a {
	text-decoration: none;
}

#sidebar .widgets .widget li:last-child,
.widget li:last-child {
	border-bottom: 0;
}

#sidebar .widgets .widget ul li ul,
.widget ul li ul {
	list-style: disc;
	margin-left: 10px;
	padding-left: 10px;
}

#sidebar .widgets .widget ol,
.widget ol {
	margin-left: 10px;
	padding-left: 10px;
}

#sidebar .widgets .widget ol li,
.widget ol li {
	padding-left: 10px;
}

.widget .opendev-summary ol {
	margin-left: -40px !important;
	margin-right: -10px !important;
	padding-left: 30px !important;
	list-style-position: inside;
}

.widget .opendev-summary ol li {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}

.widget .opendev-summary ol li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.widget .opendev-summary ol li a {
	text-decoration: none;
	color: #333;
}

.widget .od-tax-widget-tax-item {
	margin: 0 0 20px;
}

.widget .od-tax-widget-tax-item:last-child {
	margin: 0;
}

.widget .wpckan_dataset_list > ul > li {
	margin: 0 0 10px !important;
	padding: 0 !important;
}

.widget .wpckan_dataset_list > ul > li:last-child {
	margin: 0 !important;
}

.widget .wpckan_dataset_list > ul > li .wpckan_dataset {
	padding: 0;
	box-shadow: 0 0 0;
	border: 0;
}

.widget .wpckan_dataset_list .wpckan_dataset_title {
	margin: 0;
}

.widget .wpckan_dataset_list > ul > li .wpckan_dataset ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.widget .wpckan_dataset_list > ul > li .wpckan_dataset ul li {
	padding: 5px 10px !important;
	margin: 0 !important;
}

#colophon {
	margin-top: 0;
}



/*
 * Advanced Navigation
 */

.advanced-nav-filters {
  margin-top: 20px;
  padding-bottom: 20px;
}
.advanced-nav-filters label {
  display: inline;
  color: #444;
  cursor: pointer;
}
.advanced-nav-filters input {
  width: 100%;
}
.advanced-nav-filters .chosen-container {
  width: 100% !important;
}
.advanced-nav-filters .chosen-choices {
  border-color: #ccc !important;
  background-image: none !important;
}
.advanced-nav-filters .chosen-choices input[type="text"] {
  color: #999 !important;
}
.advanced-nav-filters .date-input .date-range-inputs > div {
  width: 50%;
  float: left;
}
.advanced-nav-filters .date-input .date-range-inputs > div .sublabel {
  float: left;
  line-height: 30px;
  padding-right: 10px;
  font-size: 10px;
}
.advanced-nav-filters .date-input .date-range-inputs > div input {
  float: left;
  width: 100px;
}
.advanced-nav-filters .adv-nav-input {
  margin: 0 0 20px;
}
.advanced-nav-filters input[type=submit] {
  margin-top: 35px;
  padding: 8px 0;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
}









.list-posts {
}
.list-posts li {
  height: 365px;
}
.list-posts li article {
	height: 340px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.1);
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.list-posts li article h2 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
.list-posts li article h2 a {
	text-decoration: none;
}
.list-posts li article p.meta {
  color: #96979C;
  font-size: 12px;
  display: table;
  width: 100%;
  margin: 0 0 10px;
}
.list-posts li article p.meta > span {
  display: table-cell;
}
.list-posts li article p.meta > span .icon-calendar {
  margin-right: 5px;
}
.list-posts li article .post-content {
  height: 114px;
  margin-bottom: 10px;
  overflow: hidden;
}
.list-posts li article .post-content p {
  margin: 0;
  line-height: 22px;
}
.list-posts li article .post-actions {
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.list-posts li article .post-actions .buttons {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.list-posts li article .post-actions .buttons .button {
  width: 1%;
  text-align: center;
  display: table-cell;
  border: 0;
  border-right: 2px solid #fff;
  padding: 10px 0;
}
.list-posts li article .post-actions .buttons .button:last-child {
  border-right: 0;
}