html, body {
 background: #fff;
 font-family: "Khmer OS", "Open Sans","Helvetica","Arial",sans-serif;
}
h1 {  font-size: 34px;  line-height: 36px;  margin-bottom: 2px;}
h2 { font-size: 30px; line-height: 32px; margin-bottom: 5px; }
h3 { font-size: 26px; line-height: 28px; margin-bottom: 15px; }
h4 { font-size: 21px; line-height: 25px; margin-bottom: 15px; }
h5 { font-size: 18px; line-height: 20px; margin-bottom: 5px; }
h6 { font-size: 15px; line-height: 16px; }
h5 a {
    text-decoration: none;
}
img {
 max-width: 100%;
}
img.border{
 border: 1px solid #ccc;
 background: #f8f8f8;
 padding: 3px 3px 2px;
}
sup{
 vertical-align: super;
 font-size:small;
}
sub{
 vertical-align: sub;
 font-size:small;
}
blockquote {
 padding:15px 15px 0;
 border: 1px solid #DDD;
 background: #f4f4f4;
}
table {
    border-collapse: collapse;
    margin: 25px 0 20px;
    border-spacing: 0px;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

tr{
    border: 1px solid #AAA;
}
tr:nth-child(2n) {
    background-color: #FFF;
}
tr:nth-child(2n+1) {
    background-color: #9fd8fa;
}
td{
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #bbb;
}
.tableauPlaceholder{
    margin: 5px auto 20px;
}

/******Image Caption**********/
.wp-caption {
    max-width: 95%;
    margin-bottom: 24px;
    padding: 15px 5px 15px 15px;
    border: 1px solid #DDD;
    background: #F4F4F4 none repeat scroll 0%;
}
.wp-caption img{
    max-width: 100%;
    /* border:1px solid #ddd */
}
.wp-caption-text {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}

/******* Image Caption *******/
.mekong-color{
    color: #4683d2;
}
a, a:visited{
 color: #4683d2; /*6393D2, 2774da;*/
 text-decoration:none
}
a:hover{
 color: #4683d2; /*6393D2, 2774da;*/
 text-decoration:underline
}
a strong:hover {
 color: #4683d2;
 text-decoration:underline
}
a.button,
.button {
 background: #6393d2;
 color: #fff;
 padding: 10px 15px;
 text-transform: uppercase;
 text-decoration: none;
 font-weight: 600;
 border: 0;
}
a.button:hover{
 color:#333;
}
#loading{
 position: relative;
    margin-top: -2em;
    float: left;
    display: none;
    width: 24px;
    height: 24px;
    margin-left: 0.5em;
}
.post-categories{
  margin: 0px !important;
  height: 20px !important;
  display: inline;
}
.post-categories li{
  display: inline-block;
  float: none !important;
}
.post-categories li a:hover{
  background: #333;
  color: #eee;
}
.post-categories_tags {
 margin-bottom: 1em;
 float:left
}
.post-categories_tags a {
  display: block;
  font-weight: 800;
  padding: 5px;
  background: none repeat scroll 0% 0% #EEE;
  border-radius: 3px;
  margin: 0px 5px 0px 0px;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  float:left;
}
.section-content .post-categories li, .section-content .post-tags{
    margin-bottom: 0
}
.section-content .post-categories li a, .section-content .post-tags a{
    display: inline-block;
    padding: 5px;
    background: #EEE none repeat scroll 0% 0%;
    border-radius: 3px;
    margin: 0px 5px 2px 0px;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
    color: #333;
    width: auto;
    text-transform: uppercase;
}

.section-content .post-categories li a:hover, .section-content .post-tags a:hover{
    background: #333 none repeat scroll 0% 0%;
    color: #fff;
}
.leaflet-div-icon {
 background: url(../img/marker.png) no-repeat !important;
 width: 25px !important;
 height: 30px !important;
 margin-top: -30px !important;
 margin-left: -12px !important;
 border: 0 !important;
 box-sizing: border-box !important;
 text-align: center;
 padding-top: 5px;
 padding-left: 1px;
 font-weight: 800;
 font-size: 10px;
 line-height: 10px;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
 background: #6393d2;
 border-color: #6393d2;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
 border-bottom: 10px solid #6393d2;
}

.lang-en, .lang-pt, .lang-es {
 display: block;
}

.align-left{
 float:left;
 margin: 5px 10px 0 0;
}
.align-right{
 float:right;
 margin: 5px 0 0 10px;
}
.no-margin-left{
    margin-left: 0;
}
/*
 * Header
 */

#od-head {
 padding: 30px 0 0;
 background: #292d56;
}

#od-head h1 {
 font-family: 'Droid Serif';
 font-size: 48px;
 line-height: 48px;
 margin: 0 24px 0 0;
 font-family: 700;
 letter-spacing: -4px;
 float: left;
}

#od-head h1 sup {
 font-size: 55%;
 position: relative;
 vertical-align: baseline;
 top: -10px;
}

#od-head h1 a {
 text-decoration: none;
 color: #6393d2;
}

#od-head h1.with-logo,
#od-head h1.with-logo a {
 text-indent: -9999px;
 line-height: 0;
}

#od-head h1.with-logo a img {
 display: block;
 max-width: 300px;
 max-height: 200px;
 width: auto;
 height: auto;
}

#od-head h2.side-title {
 font-family: 'Droid Serif';
 font-size: 30px;
 line-height: 48px;
 float: left;
 margin: 8px 0 0 0;
 color: #fff;
}


#od-head h2 [class^="icon-"],
#od-head h2 [class*=" icon-"] {
 font-size: 50%;
 margin-left: 10px;
}

#od-head h2 img {
 max-height: 38px;
 display: block;
 width: auto;
 margin-top: 5px;
}

#od-head .ms-dropdown-title {
 position: relative;
 z-index: 99999;
 float: left;
 cursor: default;
}

#od-head .ms-dropdown-title:hover ul {
 display: block;
}

#od-head .ms-dropdown-title ul {
 position: absolute;
 top: 55px;
 left: -15px;
 display: none;
 background: #292d56;
}

#od-head .ms-dropdown-title ul li {
 border-bottom: 1px solid #000;
 margin: 0;
 padding: 0;
}

#od-head .ms-dropdown-title ul li a {
 display: block;
 padding: 15px;
 text-decoration: none;
 min-width: 180px;
 color: #fff;
}

/*
 * Header social nav
 */

#od-head #social-nav {
 float: right;
}

#od-head #social-nav a {
 float: left;
 line-height: 48px;
 margin: 5px 0 0 20px;
 text-decoration: none;
 font-size: 18px;
 text-transform: uppercase;
 color: #fff;
}

/*
 * Header MS nav
 */

#od-head #ms-nav {
 background: #373c6a;
 margin-top: 20px;
 position: relative;
 z-index: 9999;
}

#od-head #ms-nav ul,
#od-head #ms-nav ul li {
 margin: 0;
 padding: 0;
}

#od-head #ms-nav ul.ms-nav {
 width: 100%;
 position: relative;
}

#od-head #ms-nav ul.ms-nav > li {
 float: left;
 margin: 0;
 border-right: 1px solid rgba(0,0,0,0.15);
}

#od-head #ms-nav ul.ms-nav > li:first-child {
 border-left: 1px solid rgba(0,0,0,0.15);
}

#od-head #ms-nav ul.ms-nav > li > a {
 color: #333;
 text-decoration: none;
 display: block;
 float: left;
 padding: 20px;
 text-transform: uppercase;
 color: #fff;
 font-weight: 600;
 font-size: 14px;
}

#od-head #ms-nav ul li .sub-menu {
 display: none;
 position: absolute;
 top: 58px;
 left: 0;
 right: 0;
 background: #fff;
 color: #333;
 padding: 20px 0 20px 20px;
 z-index: 999999;
 border-bottom: 1px solid #c9c9c9;
 border-left: 1px solid #c9c9c9;
 border-right: 1px solid #c9c9c9;
 box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
 -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
 -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}

#od-head #ms-nav ul li .sub-menu .first-menu {
 border-right: 1px solid #ccc;
 float: left;
 width: 15%;
 box-sizing: border-box;
}

#od-head #ms-nav ul li .sub-menu .first-menu li a {
 color: #666;
 text-decoration: none;
 padding: 15px 20px;
 display: block;
 text-transform: uppercase;
 font-size: 14px;
 line-height: 18px;
 font-weight: 600;
}

#od-head #ms-nav ul li .sub-menu .first-menu li a span {
 font-weight: normal;
 margin-right: 10px;
 font-size: 18px;
 float: left;
 color: #777;
}

#od-head #ms-nav ul li .sub-menu .first-menu li.active a {
 background: #eee;
}

#od-head #ms-nav ul li .sub-menu .first-menu li a:hover {
 color: #111;
}

#od-head #ms-nav ul li .sub-menu .content {
 float: left;
 width: 85%;
 padding: 0 0 0 20px;
 box-sizing: border-box;
}

#od-head #ms-nav ul li .sub-menu .content h2 {
 font-size: 14px;
 line-height: 18px;
 font-weight: 600px;
 margin: 15px 0;
 text-transform: uppercase;
 color: #999;
}

#od-head #ms-nav ul li .sub-menu .content ul {
}

#od-head #ms-nav ul li .sub-menu .content ul li {
 width: 33.3333%;
 float: left;
 padding-right: 40px;
 box-sizing: border-box;
}

#od-head #ms-nav ul li .sub-menu .content ul li h3 {
 font-size: 16px;
 margin: 0 0 10px;
 line-height: 20px;
}

#od-head #ms-nav ul li .sub-menu .content ul li h3 a {
 text-decoration: none;
}

#od-head #ms-nav ul.ms-nav > li:hover {
 background: #fff;
 border-left: 1px solid #c9c9c9;
 border-right: 1px solid #c9c9c9;
}

#od-head #ms-nav ul.ms-nav > li:hover a {
 color: #333;
}

#od-head #ms-nav ul.ms-nav li:hover .sub-menu {
 display: block;
}


/*
 * Header main nav
 */

#od-head #main-nav {
 background: #fff;
 margin: 0;
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #c9c9c9;
 box-shadow: 0 1px 10px 0 rgba(0,0,0,0.1);
}

#od-head #main-nav .qtrans_language_chooser, #od-head #main-nav #qtranslate-chooser {
 float: right;
 font-size: 12px;
 width: auto;
}

#od-head #main-nav .qtrans_language_chooser li, #od-head #main-nav #qtranslate-chooser li {
 margin: 0 0 0 20px;
 display: inline;
}

#od-head #main-nav .qtrans_language_chooser li a span, #od-head #main-nav #qtranslate-chooser li a span  {
 color: #333;
}

#od-head #main-nav ul,
#od-head #main-nav ul li {
 margin: 0;
 padding: 0;
}

#od-head #main-nav ul.menu {
 width: 100%;
 z-index: 999;
 position: relative;
}

#od-head #main-nav ul.menu > li,
#od-head #main-nav .qtrans_language_chooser li {
 float: left;
 margin: 0 20px 0 1px;
 position: relative;
 display:inline;
}
#od-head #main-nav ul.menu  ul.sub-menu  li  a {
 color: #333;
}

#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover > ul.sub-menu  {
 background: #fff;
}

#od-head #main-nav ul.menu > li > ul {
 display: none;
 position: absolute;
 top: 48px;
 left: 0px;
 background: #fff;
 padding: 1px 0 0;
 width: 200px;
 z-index:9999;
 border-left: 1px solid #c9c9c9;
 border-bottom: 1px solid #c9c9c9;
 border-right: 1px solid #c9c9c9;
 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
 -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
 -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

#od-head #main-nav ul.menu > li > ul li {
 float: none;
 display: block;
 margin: 0;
 padding: 0;
}

#od-head #main-nav ul.menu > li > ul li a {
 padding: 10px 10px;
 margin: 0 0 0;
 border-bottom: 1px solid #ddd;
 display: block;
 float: none;
 text-transform: none;
}

#od-head #main-nav ul.menu > li > ul li:last-child a {
 margin: 0;
 border: 0;
}

#od-head #main-nav ul.menu > li:hover > ul {
 display: block;
}

#od-head #main-nav a {
 color: #333;
 text-decoration: none;
 display: block;
 float: left;
 padding: 15px 8px;
 text-transform: uppercase;
}
.current-site-mekong{
 background: #6393D2;
}
#od-head #main-nav ul li.current_page_item a{
 color: #6393D2;
 font-weight: bold;
}
#od-head #main-nav .menu li:hover > a,
#od-head #main-nav ul.menu li:hover > a  {
 color: #fff;
}
#od-head #main-nav .menu ul > li:hover a,
#od-head #main-nav ul.menu > li:hover,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover ,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li > ul.sub-menu > li:hover {
 background-color: #6393D2;
}
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover > ul a  {
 background-color: #fff;
}
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li > ul.sub-menu > li a:hover {
 background-color: #6393D2;
}

/*
 *
  breadcrumbs
 *
 */

 #main-breadcrumb{
      background: #fff;
 }
 #breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}

#od-head #breadcrumbs a, #breadcrumbs a.bread-link, #breadcrumbs li{
     color: #333;
}
#breadcrumbs .separator{
    background: url(../img/breadcrumb-separator.png) center  no-repeat;
    width: 14px;
    height: 11px;
    font-size:18px;
    font-weight:100;
    color:#ccc;
    margin-top: 3px;
}
#breadcrumbs .separator-topic:last-child{
    display: none;
}
.bread-current{
     font-weight: bold;
 }

/*
 * Headings
 */

.search .section-title h1 {
 font-family: "Droid Serif";
 margin: 10px 0;
}

.section-title, .single-post-header, .page-header {
 background: transparent;
 box-shadow: 0 0 0;
 -webkit-box-shadow: 0 0 0;
 -moz-box-shadow: 0 0 0;
 -khtml-box-shadow: 0 0 0;
 -o-box-shadow: 0 0 0;
 margin: 0;
 padding-top: 0;
}
.single-post-header ul li{
 list-style-type: none;
}
.poat-date-source{
    padding:5px 0 10px;
}
.post-header .date, .single-post-header .date, .date  {
 font-size: 14px;
 color: #999;
 display:inline
}
.post-header .icon-news, .single-post-header .icon-news{
   font-size: 18px;
}
.post-header .news-source, .single-post-header .news-source, .source {
 font-size: 14px;
 color: #999;
 display:inline
}
.single-post-header .categories, .section-content .post-tags {
 padding-top: 4px;
 font-size: 14px;
 color: #999;
}

.single-post-header .lsf {
 margin-right: 5px;
 color: #666;
}

.section-title {
 padding: 5px 0 15px;
 border-bottom: 1px solid #ddd;
 margin: 0 0 40px;
}

.section-title h2,
.section-title h3 {
 margin: 0;
 font-size: 18px;
 line-height: 18px;
 text-transform: uppercase;
}

.section-title h2 a,
.section-title h3 a {
 text-decoration: none;
}

.section-title.main-title h3 {
 font-size: 14px;
 margin: 0 0 10px;
}

.section-title.main-title h3 a {
 color: #999;
}

.section-title.main-title h3 a:hover {
 color: #333;
}

.section-title.main-title h2 {
 margin: 0 0 20px;
 font-size: 32px;
 line-height: 32px;
 text-transform: none;
}

.query-actions {
 text-align: right;
 margin-bottom: 20px;
}

.query-actions .query-actions-title {
 font-weight: 600;
 margin-right: 10px;
 text-transform: uppercase;
 color: #999;
 font-size: 12px;
}

.query-actions a {
 text-decoration: none;
 text-transform: uppercase;
 margin-left: 10px;
 font-size: 12px;
}

.query-actions [class^="icon-"],
.query-actions [class*=" icon-"] {
 margin-right: 5px;
 color: #999;
}

.archive .query-actions {
 margin-top: 25px;
}

.single-post-header h1,
.page-header h1,
.archive-title {
 font-family: "Droid Serif";
}

.archive-title {
 float: left;
}

#main-title-nav {
 border-top: 1px solid #dedede;
 padding: 0;
 margin: 15px 0 -15px;
}

#main-title-nav ul {
 margin: 0;
 padding: 0;
 border-left: 1px solid #dedede;
}

#main-title-nav ul li {
 float: left;
 margin: 0;
 padding: 0;
}

#main-title-nav ul li a {
 text-decoration: none;
 display: block;
 padding: 10px 15px;
 border-right: 1px solid #dedede;
 color: #999;
}

#main-title-nav ul li a:hover {
 color: #333;
}

/*
 * Site intro
 */

#site-intro {
 padding: 15px 0 0;
 background: #6393D2;
}

#intro-texts [class^="icon-"],
#intro-texts [class*=" icon-"] {
 float: left;
 font-size: 40px;
 line-height: 100%;
 margin: 0 12px 0 0;
 padding-top: 10px;
 color: #fff;
}
#intro-texts .four.columns {
    /* width: 370px; */
 margin-right:0
}

#intro-texts .text-item {
 display: table;
 color: #fff;
}

#intro-texts .text-item .icon,
#intro-texts .text-item .content {
 display: table-cell;
 vertical-align: top;
}


#intro-texts h3 {
 font-size: 24px;
 color: #fff;
}

#intro-texts p {
 font-size: 16px;
 line-height: 150%;
}


#intro-texts p a {
 color: #fff;
}

/*
 * Live search
 */

#live-search {
 /* border-top: 1px solid #aaa;
 border-bottom: 1px solid #aaa; */
 clear: both;
    float: right;
    margin-top: -1.5em;
    margin-bottom: -0.5em;
}

#live-search ::-webkit-input-placeholder {
 color: #666;
 text-transform: uppercase;
}

#live-search :-moz-placeholder { /* Firefox 18- */
 color: #666;
 text-transform: uppercase;
}

#live-search ::-moz-placeholder {  /* Firefox 19+ */
 color: #666;
 text-transform: uppercase;
}

#live-search :-ms-input-placeholder {
 color: #666;
 text-transform: uppercase;
}

#live-search input[type=text] {
 border: 0;
 background: #EEE;
 color: #333;
 padding: 2px 0;
 font-size: 16px;
 line-height: 26px;
 display: block;
 margin: 0;
 width: 95%;
 border-radius: 0;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 text-align: center;
 border-right: 1px solid #aaa;
 border-bottom: 1px solid #aaa;
 margin-bottom: -1px;
 margin-left: -5px;
}
#live-search input:focus {
 outline: none;
 border: 0;
 background: #f4f4f4;
 background: ddd;
 box-shadow: 0 0 0;
 -webkit-box-shadow: 0 0 0;
 -moz-box-shadow: 0 0 0;
 border-right: 1px solid #aaa;
 border-bottom: 1px solid #aaa;
}
#live-search .results {
 margin: 0 0 20px;
 padding: 10px 20px 20px;
 background: #f7f7f7;
 border: 1px solid #333;
}
#live-search .results li {
 margin: 0;
 padding: 0;
 padding: 0 20px 10px 0;
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 width: 33.3333%;
 float: left;
 /* background: rgba(255, 255, 255, 0.15); */
}
#live-search .results li h2 {
 font-size: 20px;
 color: #fff;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 margin: 0;
}
#live-search .results li h2 a {
 text-decoration: none;
}
#live-search .results li p {
 color: #333;
 margin: 0;
}
#live-search .results li p.type {
 color: #999;
 text-transform:uppercase
}
.results-container{
    clear: both;
    position: absolute;
    z-index: 10000;
    margin-top: 2.7em;
    width: 97%;
    right: 0;
    margin-right: 1.1em;
    background: white;
}

/* #live-search .results li p.excerpt, #live-search .results li img {
 display: none;
}
#live-search .results li.item-1 {
 width: 100% !important;
 padding: 10px 20px 20px 0;
}
#live-search .results li.item-1 h2 {
 font-size: 24px;
}
#live-search .results li.item-1 p.excerpt, #live-search .results li.item-1 img{
 display: block;
}*/
#live-search .results li.item-3, #live-search .results li.item-6, #live-search .results li.item-9{
 padding-right:0
}
#live-search .results li.item-4, #live-search .results li.item-7{
 clear: both
}
#live-search .results li.more {
 width: 100% !important;
 text-align: center;
 color: #666;
 text-transform: uppercase;
}
#live-search .results li.more a {
 display: block;
 text-align: center;
 color: #f0f0f0;
 background: #6393d2;
 padding: 10px 0;
 margin-bottom: -15px;
 text-decoration: none;
}
#live-search .results li.more a:hover {
 text-decoration: none;
 color: #fff;
}
#live-search .results.results-2 li {
 width: 100%;
}
#live-search .results.results-3 li {
 width: 50%;
}
#live-search .results.results-5 li.item-5 {
 width: 100%;
}
#live-search .results.results-6 li.item-2 {
 width: 50%;
}
#live-search .results.results-6 li.item-3 {
 width: 50%;
}
/*
 * Slider
 *
 */
 .fa_slider_opendev.default .fa_slide_content div.description p a,
 .fa_slider_opendev.default .fa_slide_content div.description p a:visited {
     color: #888;
 }

/*
 * News section
 */

.row {
    margin-bottom: 20px;
}
#news {
 padding-top: 0;
}

#news.page-section .section-title {
 margin: 0;
 border: 0;
}

#news.page-section .section-map {
 height: 600px;
 border: 1px solid #ccc;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
 box-sizing: border-box;
}

.map-container {
 min-height: 0 !important;
 margin-bottom:1em;
}

#news.page-section .section-map .map-container,
#news.page-section .section-map .mapgroup-container {
 height: 100%;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container {
 display: block;
 top: 0;
 right: 40%;
 /* top: -40px;
 right: -2px; */
 left: auto;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
 border-bottom: 0 !important;
 border-top: 10px solid #6393d2;
 top: auto;
 bottom: -10px;
}

#featured-content.page-section .section-featured-content {
 max-height: 400px;
 border: 1px solid #ccc;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
 box-sizing: border-box;
}

#announcements-and-updates {
 list-style: none;
}
.announcements-list{
 overflow:auto;
}
.announcements-list h4{
 margin-bottom: 5px;
}
.announcements-list ul{
 list-style-type: none;
}
.announcements-list li{
 width: 30.33%;
 display: -moz-inline-stack;
 display: inline-block;
 vertical-align: top;
 margin: 10px 1%;
 zoom: 1;
 *display: inline;
}
.announcements-list li:last-child{

}
.announcements-list li img{
 float: left;
 border:1px solid #ddd;
}
.announcements-singlepage-img{
 float:left;
 margin-right : 15px;
 border:1px solid #ddd;
 width:14%;
}
.announcements-singlepage-content{
    display: table-cell;
}
.announcement-source{
    color:#888;
}
.translated-by-odc{
  background-color:#DBDBDB;
  padding: 2px 0 0 5px;
  color: #404040 ;
}
.updates-list{
 list-style-type: circle;
}
.updates-list ul{
 overflow:auto;
 margin-bottom: 0px;
}
.updates-list li{
 width: 100%;
 border-bottom: 1px solid #ccc;
 padding-bottom: 10px;
}
.updates-list li:last-child{
 padding-bottom: 10px;
}
/*.post-widget{
 float: left;
}
.post-widget-image{
 float: left;
}*/
.post-widget-image img{
  height: 96px;
  width: 96px;
  margin-right: 10px;
}
/*
 * Sticky
 */

.sticky-posts {
 height: 100%;
 width: 100%;
 color: #333;
 position: relative;
 z-index: 10;
 border-left: 1px solid #ccc;
 box-sizing: border-box;
 overflow: hidden;
}
.sticky-posts:hover{
    overflow-y: auto;
}
.sticky-posts .sticky-item {
 height: 12%;
 width: 100%;
 border-bottom: 1px solid #ccc;
 box-sizing: border-box;
 cursor: pointer;
}
.sticky-posts .sticky-item:last-child {
 border-bottom: 0;
}
.sticky-posts .sticky-item article {
 padding: 10px 20px 15px;
}
.sticky-posts .sticky-item article .post-thumbnail {
 float: left;
 margin: -5px 10px 0 -5px;
 height: 82%;
}
.sticky-posts .sticky-item article .post-thumbnail img {
 display: block;
 width: 50px;
 height: 50px;
}
.sticky-posts .sticky-item article h3 {
 color: #333;
 /*font-family: "Droid Serif";*/
 margin: 0;
 font-size: 16px;
 line-height: 20px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.sticky-posts .sticky-item article p.date,
.sticky-posts .sticky-item.active article p.date {
 font-size: 12px;
 display: block;
 color: #999;
 margin-bottom: 5px;
}
.sticky-posts .sticky-item article .post-content,
.sticky-posts .sticky-item article .post-actions{
 display: none;
}
.sticky-posts .sticky-item.active,
.sticky-posts .sticky-item:hover {
}
.sticky-posts .sticky-item.active article h3 {
 color: #000;
 white-space: normal;
 overflow: visible;
 text-overflow: clip;
}
.sticky-posts.post-active .sticky-item {
 height: 12%;
 clear: left;
}
.sticky-posts.post-active .sticky-item article .post-thumbnail {
 margin: -5px 10px 0 -5px;
 height: 100%;
}
.sticky-posts.post-active .sticky-item article h3 {
 font-size: 16px;
 line-height: 20px;
 margin: 0 0 5px;
 padding: 0;
}
.sticky-posts.post-active .sticky-item.active {
 /* height: 40%; */
 height: auto;
 padding-bottom: 15px;
 overflow:hidden;
 text-overflow: ellipsis;
}
.sticky-posts.post-active .sticky-item.active article .post-thumbnail {
 margin: 0 10px 5px 0;
 width: 60px;
 height: auto;
}
.sticky-posts.post-active .sticky-item.active article .post-thumbnail img {
 width: 100%;
 height: auto;
 padding: 0;
}
.sticky-posts.post-active .sticky-item.active article h3 {
 font-size: 20px;
 line-height: 28px;
 margin: 0 0 10px;
}
.sticky-posts.post-active .sticky-item.active article .post-area {
 height: 100%;
 margin-bottom: 25px;
 overflow: hidden;
}
.sticky-posts.post-active .sticky-item.active article .post-content,
.sticky-posts.post-active .sticky-item.active article .post-actions {
 display: block;
 margin-top: 8px;
}

.map-sidebar {
 color: #96979C;
 height: 100%;
 width: 40%;
 min-width: 300px;
 max-width: 640px;
 z-index: 1000;
 word-wrap: break-word;
 overflow: hidden;
 float: right;
 position: relative;
 z-index: 100;
}
.map-sidebar a {
 text-decoration: none;
 /* color: #fff; */
}
.map-sidebar a.button,
.map-sidebar .button {
 color: #fff;
}
.map-sidebar .button.open-slideshow {
 padding: 2px 7px;
 font-size: 10px;
 border-color: #555;
}
.map-sidebar .button.open-slideshow:hover {
 background: #404040;
}
.map-sidebar .buttons {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 background: #333;
 padding: 10px;
}
.map-sidebar .buttons .button {
 width: 1%;
 display: table-cell;
 border: 0;
 border-right: 2px solid #333;
 padding: 10px 0;
}
.map-sidebar .buttons .button:last-child {
 border-right: 0;
}
.map-sidebar .media-limit img {
 max-width: 9999px;
 width: 100%;
 height: auto;
}
.map-sidebar .sidebar-inner {
 height: 100%;
 position: relative;
}
.map-sidebar .viewing-post {
 display: none;
 position: relative;
 height: 100%;
}
.map-sidebar .viewing-post .close-story {
 position: absolute;
 top: 20px;
 right: 20px;
 display: block;
 font-size: 14px;
 line-height: 26px;
 padding: 0 9px 0 8px;
 background: #77a832;
 color: #f0f0f0;
 font-weight: 800;
}
.map-sidebar .viewing-post.active {
 display: block;
}
.map-sidebar .story {
 padding: 30px 30px 60px;
 height: 100%;
 box-sizing: border-box;
 overflow: auto;
 position: relative;
}
.map-sidebar .story::-webkit-scrollbar {
 background: #303030;
 width: 15px;
}
.map-sidebar .story::-webkit-scrollbar-thumb {
 background: #666;
 border-radius: 15px;
 border: 5px #303030 solid;
}
.map-sidebar h2 {
 color: #fff;
 margin: 10px 0;
}
.map-sidebar object,
.map-sidebar object embed,
.map-sidebar iframe {
 max-width: 100%;
 max-height: 100%;
 width: auto;
 height: auto;
}
.map-sidebar img {
 max-width: 100%;
 max-height: 100%;
 width: auto;
 height: auto;
 padding: 6px;
}
.map-sidebar .sharing .button {
 margin: 5px 5px 5px 0;
}
.map-sidebar .sharing .social {
 margin: 15px 0 0;
}
.map-sidebar .sharing .social .twitter-button,
.map-sidebar .sharing .social .fb-like {
 float: left;
 margin: 0 10px 10px 0;
}

/*
 * Latest news
 */

#latest-news .section-title h2 {
 float: left;
 margin-right: 20px;
}

#latest-news .section-title .query-actions a {
 text-decoration: none;
 text-transform: uppercase;
 margin-right: 10px;
 font-size: 12px;
}



/*
 * Briefing page section
 */

#briefs.list article img {
 width: 100%;
 height: auto;
}

#briefs.list article header h3 {
 margin: 0 0 20px;
}

#briefs.list article header h3 a {
 text-decoration: none;
}

#briefs.list article header p {
 margin: 0 0 10px;
 color: #777;
}

#briefs.list article header p span {
 margin-right: 10px;
}

#briefs.list .main-section-link {
 display: block;
 text-align: center;
 padding: 15px 0;
}

.posts-section #briefs article header p {
 font-size: 12px;
}

.posts-section #briefs article p {
 font-size: 16px;
 line-height: 150%;
}

/*
 * Tabbed post list
 */

.tabbed-posts-section {
 border: 1px solid #ddd;
 box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.tabbed-posts-list {
 margin: 0;
 padding: 0;
}

.tabbed-posts-list li {
 padding: 20px;
 border-bottom: 1px solid #ddd;
}

.tabbed-posts-list li article h3 a {
 text-decoration: none;
}
.tabbed-posts-list li article .meta {
 margin: 0 0 20px;
}
.tabbed-posts-list li article .meta p {
 margin: 0 0 5px;
 font-size: 14px;
 color: #666;
}
.tabbed-posts-list li article .meta p span {
 margin-right: 10px;
}

#tabbed-post-type-nav ul {
 width: 100%;
 display: table;
 margin: 0 0 20px;
 padding: 0;
 border-bottom: 1px solid #ddd;
}

#tabbed-post-type-nav ul li:last-child {
 border-right: 0;
}

#tabbed-post-type-nav ul li {
 display: table-cell;
 width: 1%;
 text-align: center;
 border-right: 1px solid #ddd;
}

#tabbed-post-type-nav ul li a, #tabbed-post-type-nav ul li div.tag-name {
 display: block;
 padding: 15px 0;
 width: 100%;
 text-decoration: none;
 text-transform: uppercase;
 background: #f0f0f0;
}

#tabbed-post-type-nav ul li.active a, #tabbed-post-type-nav ul li.tab-tag-active div.tag-name{
 background: #fff;
 font-weight: 600;
}

#tabbed-post-type-nav ul li a:hover, #tabbed-post-type-nav ul li div.tag-name:hover {
 background: #fff;
 cursor: pointer;
}

/*
 * Post list
 */

.opendev-posts-list li article {
 border: 1px solid #ccc;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
 padding: 20px;
}
.opendev-posts-list li article h3 a {
 text-decoration: none;
}
.opendev-posts-list li article .meta {
 margin: 0 0 20px;
}
.opendev-posts-list li article .meta p {
 margin: 0 0 5px;
 font-size: 14px;
 color: #666;
}
.opendev-posts-list li article .meta p span {
 margin-right: 10px;
}
#advanced_search_results h2 {
 text-transform: uppercase;
 font-size: 18px;
 line-height: 18px;
 margin: -2em 0 22px;
}
#wpckan_search_results h2 {
 text-transform: uppercase;
 font-size: 18px;
 line-height: 18px;
 margin: 0 0 22px;
}
#wpckan_search_results .wpckan_dataset_list > ul > li {
 margin: 0 0 20px;
}
#wpckan_search_results .button {
 display: block;
 text-align: center;
}

/*
 * Site updates and announcements section
 */

#site-updates article,
#announcements article {
 margin: 0;
 padding: 10px 0;
 border-bottom: 1px dotted #ccc;
}

#site-updates .update-list,
#announcements .announce-list {
 margin-top: -15px;
}

#site-updates article h3,
#announcements article h3 {
 font-size: 16px;
 line-height: 20px;
 font-weight: 400;
 margin: 0;
}

#site-updates article h3 a,
#announcements article h3 a {
 text-decoration: none;
}

#site-updates article p,
#announcements article p {
 font-size: 12px;
 color: #777;
 margin: 0;
}

/*
 * Box section
 */

.box-section {
 border: 1px solid #ccc;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
}

.box-section .box-title {
 border-bottom: 1px solid #ccc;
 box-sizing: border-box;
 padding: 15px 20px;
}

.box-section .box-title h2,
.box-section .box-title h3 {
 font-size: 16px;
 line-height: 16px;
 text-transform: uppercase;
 margin: 0;
 color: #444;
}

.box-section .box-items {
 display: table;
 width: 100%;
}

.box-section .box-items .box-item {
 width: 1%;
 display: table-cell;
 border-left: 1px solid #ddd;
 box-sizing: border-box;
 padding: 15px 20px;
}

.box-section .box-items .box-item:first-child {
 border-left: 0;
}

/*
 * Single content
 */

.single section.content {
 font-size: 16px;
 line-height: 150%;
}

.single section.content h1,
.single section.content h2,
.single section.content h3,
.single section.content h4 {
 font-family: 'Droid Serif';
 font-weight: 200;
 margin: 10px 0;
}

.single section.content .wp-feature-box .wp-feature-box-header h2 {
 margin: 0px auto 20px;
}

.single section.content h1 a,
.single section.content h2 a,
.single section.content h3 a,
.single section.content h4 a {
 text-decoration: none;
}
.wp-feature-box{
    margin-bottom: 20px;
}
#featured-media .map-container,
#featured-media .mapgroup-container {
 height: 100%;
}


/*
 * page
 */

#content.single-post {
 font-size: 16px;
 line-height: 150%;
}
#content ul{
    margin-left: 1.5em;
}
#content ul li {
 list-style-type: square;
}
#content #reference-list{
    margin-left: 0;
}
#content .post-content iframe{
    max-width:100%;
}
#content #references li, #content #reference-list li{
 list-style-type: none;
}

#clear{
 clear:both;
}
/*
 * Share widget
 */


.widget .share ul {
 width: 100%;
 display: block;
 margin: 0 0 20px;
}

.widget .share ul li {
 float: left;
 padding: 0 !important;
 margin: 0 !important;
 border: 0 !important;
}

.widget .share ul li > * {
 margin-right: 10px;
}

.widget .share ul li > .fb {
 width: 90px;
}

.widget .share ul li > .twitter {
 width: 120px;
}

/*
 * Related datasets box
 */

#related-datasets .box-items {
 table-layout: fixed;
}

#related-datasets .group-item h3 {
 text-transform: uppercase;
 font-size: 18px;
 color: #999;
 line-height: 18px;
 margin: 0 0 20px;
}

#related-datasets .dataset-list {
 margin: 0;
 padding: 0;
}

#related-datasets .dataset-item {
 margin: 0 -20px 20px;
 padding: 0 20px 20px;
 border-bottom: 1px solid #ddd;
}

#related-datasets .dataset-item:last-child {
 border-bottom: 0;
 margin-bottom: 0;
}

#related-datasets .dataset-item h4 {
 font-size: 18px;
}

#related-datasets .dataset-item h4 a {
 text-decoration: none;
}

#related-datasets .dataset-item p {
 margin: 0 0 10px;
}

#related-datasets .dataset-item p.read-more {
 margin: 0;
}

#related-datasets .dataset-resources {
 margin: 0 0 10px;
 padding: 0;
 width: 100%;
 border-top: 1px solid #eee;
 border-left: 1px solid #eee;
 border-right: 1px solid #eee;
}

#related-datasets .dataset-resources .resource-item {
 margin: 0;
 padding: 10px;
 border-bottom: 1px solid #eee;
}

#related-datasets .dataset-resources .resource-item a {
 text-decoration: none;
}

#related-datasets .dataset-resources .resource-item .format {
 background: #eee;
 padding: 3px 7px;
 font-size: 12px;
 margin-left: 10px;
}

#related-datasets .toggle-resources {
 display: block;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
 color: #444;
 border-top: 1px solid #ddd;
 padding: 10px 0;
}

#related-datasets.collapsed .dataset-item h4,
#related-datasets.collapsed .dataset-item p {
 width: 100%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/*
 * Interactive Map ?
 */

.interactive-map {
 height: 600px;
 border: 1px solid #ccc;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
 box-sizing: border-box;
}

.interactive-map .map-container {
 width: 66.66666%;
 height: 100%;
 float: left;
}

.interactive-map .interactive-map-layers {
 width: 33.33333%;
 float: left;
 box-sizing: border-box;
 border-left: 1px solid #ccc;
 height: 100%;
 overflow: auto;
}

.interactive-map .interactive-map-layers  ul {
 margin: 0;
 padding: 0;
}

.interactive-map .interactive-map-layers  ul li {
 list-style-type: none !important;
 padding: 0;
 margin: 0;
 border-bottom: 1px solid #ccc;
 box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
 background: #eee;
}

.interactive-map .interactive-map-layers  ul li a {
 text-decoration: none;
 font-weight: 600;
 display: block;
 padding: 20px;
}

.interactive-map .interactive-map-layers  ul li a:before,
.interactive-map .interactive-map-layers .cat-layers li:before {
 font-family: 'opendev';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 float: left;
 font-size: 16px;
 margin: 0 10px 0 0;
 color: #999;
}

.interactive-map .interactive-map-layers  ul li a:before {
 content: '\2261';
 font-size: 20px;
}

.interactive-map .interactive-map-layers  ul li a.active:before {
 content: '\2261';
 font-size: 20px;
}

.categories li.over {
  border: 1px dashed #333;
}
.jeo-filter-layers{
  display:none;
}

.layer-item a{
  display:inline !important;
}

.layer-item a:before{
 content:none !important;
}
.layer-item .layer-status {
  display:inline;
  padding: 2px 0px 0px 2px;
  width:14px;
  height:14px;
  background-color: #ccc;
  border-radius:10px;
  float:left;
  margin-right: 10px;
}
.layer-item .layer-status.active {
  background-color: green;
}
.layer-item h2 {
 font-size: 14px !important;
 color: #ccc;
 text-transform: none;
}
.layer-item h2:hover {
  color: #333;
  cursor: pointer;
}
.layer-item h2.active {
  color: #333;
}
.layer-item .layer-excerpt{

}
.layer-item .layer-content{
  display:none;
}
.layer-item p {
 margin-top: 10px;
 margin-bottom: 4px;
 font-size: 10px;
}
.layer-item .toggles{
  margin-top: 10px;
  margin-bottom: 6px;
}
.layer-item .toggles a{
  font-size: 10px;
  padding: 2px !important;
  color: #333;
  display: block;
  border: 1px #ccc solid;
  border-radius: 4px;
  padding: 0px 10px !important;
  margin-right: 10px;

}
.layer-item .toggles a.active{
  color: #333;
}
.layer-item .toggles a:hover{
  color: #ccc;
}
.layer-item .toggles a:before{
  /*content: '\2261';*/
}
.layer-item .toggles a.active:before{
  /*content: '\2191';*/
}
.layer-item .legend{
  display:none;
}
.layer-item .legend ul li{
  padding: 2px 10px !important;
}
.layer-item .legend .bullet{

}

.layer-toggle{
 position: absolute;
 width: 34px;
 height: 34px;
 border-radius: 4px;
 border: 1px solid #333;
 top: 10px;
 right: 10px;
 padding: 4px 10px;
 text-align: right;
 background: #fff;
 z-index: 999;
}

.layer-toggle a{
 text-decoration: none !important;
 display: block !important;
 color: #ccc !important;
 font-weight: 600 !important;
 font-size: 14px !important;
 font-size: 20px !important;
}

.layer-toggle a:hover{
 color: #000 !important;
}

.layer-toggle a:before{
 content: '\2261';
}

.layer-toggle a.active:before{
 content: '\2262';
}

.interactive-map .interactive-map-layers  ul li ul {
 margin-top: 0;
 background: #f7f7f7;
}
.interactive-map .interactive-map-layers  ul li ul li {
 border-bottom: 0;
 border-top: 1px solid #ccc;
 padding: 10px 20px;
 box-shadow: 0 0 0;
 background: #fff;
}
.interactive-map .interactive-map-layers  ul li ul li ul{
  border: none !important;
}
.interactive-map .interactive-map-layers  ul li ul li ul li{
 border: none !important;
 margin: 0px !important;
 box-shadow: none !important;
 padding: 2px 10px !important;
}

/*.interactive-map .interactive-map-layers  ul li ul li:hover {
 background: #ccc;
 cursor: pointer;
}

.interactive-map .interactive-map-layers  ul li ul li.active {
 background: #ddd;
 cursor: pointer;
}*/

.interactive-map .interactive-map-layers  ul li ul li a {
 padding: 10px 0;
}

.interactive-map .interactive-map-layers  ul li ul li ul {
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}

.interactive-map .interactive-map-layers .cat-layers li:before {
 /*content: '\2192';*/
 color: #999;
}

.interactive-map .interactive-map-layers .cat-layers li.active:before {
 color: #000;
}
.map-legend {
  display:none !important;
}
.cartodb-legend {
  text-align:left !important;
  position: static !important;
  width:80% !important;
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
  padding: 10px 0px !important;
  z-index: 105;
}
.cartodb-legend ul{
  display: block !important;
}


/*
 * CKAN search
 */

.data-page .single-post-header {
 margin: 0 0 30px 0;
}

.data-page h1 {
 float: left;
 margin: 0 40px 0 0;
}

.data-page h1 span {
 font-weight: normal;
 font-size: 40px;
 margin: 0 20px 0 0;
}

.data-page .access-database {
 margin: 15px 0 0;
 float: right;
}

.data-page .access-database a {
 text-transform: uppercase;
 text-decoration: none;
 font-size: 16px;
 font-weight: 600;
}


#wpckan_archive #wpckan_search {
 width: 100%;
 padding: 15px;
 font-size: 18px;
 margin: 0;
 box-sizing: border-box;
 box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
}

#wpckan_archive .access-database a {
 display: block;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
 padding: 15px 0;
 font-size: 16px;
}

#wpckan_archive .wpckan_dataset_list > ul {
 padding: 0;
 margin: -10px;
}

#wpckan_archive .wpckan_dataset_list > ul > li {
 width: 25%;
 margin: 0;
 padding: 0;
 float: left;
}

#wpckan_archive .wpckan_dataset_list > ul > li .wpckan_dataset {
 margin: 10px;
}

.wpckan_dataset_list > ul > li .wpckan_dataset {
 padding: 20px;
 margin: 0;
 border: 1px solid #ccc;
 box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
 line-height: 150%;
}

.wpckan_dataset_list .wpckan_dataset_title {
 font-size: 12px;
 font-weight: bold;
 margin: 0 0 20px;
}

.wpckan_dataset_list .wpckan_dataset_title a {
 text-decoration: none;
}

.wpckan_dataset_list .wpckan_resources_list {
 margin: 2px 0 4px 0;
 width: 100%;
 clear: both;
}

.wpckan_dataset_list .wpckan_resources_list ul {
 list-style-type: none;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
}

.wpckan_dataset_list .wpckan_resources_list ul li {
 border-bottom: none !important;
 float:left;
 display: inline-block;
 margin: 0px 4px 4px 0px !important;
 padding: 4px 4px 2px 4px!important;
 font-weight: bold;
 background: #333;
 color: #FFF;
 white-space: nowrap;
 -webkit-border-radius:3px !important;
 -moz-border-radius:3px !important;
 border-radius:3px !important;
 text-shadow:0 -1px 0 rgba(0,0,0,0.25);
}

.wpckan_resource_format{
 font-size: 10px;
 text-transform: uppercase;
}

.wpckan_dataset_list .wpckan_resources_list ul li:hover {
 background: #CCC;
 color: #333;
}

.wpckan_dataset_list .wpckan_resources_list ul li a {
 font-weight: bold;
 line-height:14px;
 text-decoration: none;
 display: block;
 margin: 0 0;
}

.wpckan_dataset_list .wpckan_resources_list ul li a:before {
 content: '\e6a4';
 font-family: 'opendev';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 float: left;
 font-size: 16px;
 margin: 0 10px 0 0;
 color: #999;
}

#wpckan_archive #wpckan_nav {
 text-align: center;
}

/*
 * Widgets
 */

#sidebar .widgets .widget,
.widget {
 border: 1px solid #ddd;
 padding: 10px;
 -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
 -khtml-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
 -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
 -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
 box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
 width: 100%;
}

#sidebar .widgets .widget.share-widget,
.widget.share-widget,
#sidebar .widgets .widget.widget_search,
.widget.widget_search {
 box-shadow: 0 0 0;
 padding: 0;
 border: 0;
}

.widget.widget_search input {
 width: 100%;
 box-sizing: border-box;
}

#sidebar .widgets .widget .widget-title,
.widget .widget-title {
 font-family: 'Open Sans';
 font-weight: 800;
 margin: -11px -10px 10px;
 padding: 10px;
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
 color: #666;
 text-transform: uppercase;
 font-size: 14px;
}

#sidebar .widgets .widget li a,
.widget li a {
 text-decoration: none;
}
#sidebar .widget li a:hover{
 text-decoration:underline;
}
#sidebar .widgets .widget li:last-child,
.widget li:last-child {
 border-bottom: 0;
}
#sidebar .widgets .widget ul li ul,
.widget ul li ul {
 margin-left: 10px;
 padding-left: 10px;
}

#sidebar .widgets li{
 list-style: none !important;
 list-style-type: none !important;
 word-wrap: break-word;
}


#sidebar .widgets .widget div ul li ul li{
 list-style: disc !important;
 list-style-type: disc !important;
}

#sidebar .widgets .widget ol,
.widget ol {
 margin-left: 10px;
 padding-left: 10px;
}

#sidebar .widgets .widget ol li,
.widget ol li {
 padding-left: 10px;
}

.widget .opendev-summary ol {
 margin-left: -40px !important;
 margin-right: -10px !important;
 padding-left: 30px !important;
 list-style-position: inside;
}

.widget .opendev-summary ol li {
 font-weight: 400;
 font-size: 14px;
 line-height: 150%;
 margin-bottom: 10px;
 padding-bottom: 10px;
 border-bottom: 1px solid #eee;
 color: #999;
}

.widget .opendev-summary ol li:last-child {
 border-bottom: 0;
 padding-bottom: 0;
 margin-bottom: 0;
}

.widget .opendev-summary ol li a {
 text-decoration: none;
 color: #333;
}

.widget .opendev-summary ol li a:hover {
 color: #4683d2; /*6393D2, 2774da;*/
 text-decoration:underline
}
.widget .od-tax-widget-tax-item {
 margin: 0 0 20px;
}

.widget .od-tax-widget-tax-item:last-child {
 margin: 0;
}

.widget .wpckan_dataset_list > ul > li {
 margin: 0 0 10px !important;
 padding: 0 !important;
}

.widget .wpckan_dataset_list > ul > li:last-child {
 margin: 0 !important;
}

.widget .wpckan_dataset_list > ul > li .wpckan_dataset {
 padding: 0;
 box-shadow: 0 0 0;
 border: 0;
}

.widget .wpckan_dataset_list .wpckan_dataset_title {
 margin: 0;
}

.widget .wpckan_dataset_list > ul > li .wpckan_dataset ul {
 list-style: none !important;
 margin: 0 !important;
 padding: 0 !important;
}

.widget .wpckan_dataset_list > ul > li .wpckan_dataset ul li {
 padding: 5px 10px;
 margin: 0;
}
/* Sidebar Related News  */
.widget_opendev_related_recent_news_widget{
    float: left;
}
.widget_opendev_related_recent_news_widget img{
    width: 70px;
    height: 70px;
    margin-top: 0;
    float: left;
}
#sidebar .widgets li.widget_opendev_related_recent_news_widget ul li{
    clear: left;
    float: left;
    padding: 8px 0;
    display: block;
    width: 100%;
}

.widget_opendev_related_resources_widget {
 font-size: 90%;
}

.widget_opendev_related_resources_widget p{
 margin: 0px;
}

.widget_opendev_query_resources_widget {
 font-size: 90%;
}

.widget_opendev_query_resources_widget p{
 margin: 0px;
}

/* Sidebar Topical Category */
.sub-topical-cat{
 display: none;
}
/* End sidebar Topical Category */
#colophon {
 margin-top: 0;
}



/*
 * Advanced Navigation
 */

.advanced-nav-filters {
  margin-top: 20px;
  padding-bottom: 20px;
}
.advanced-nav-filters label {
  display: inline;
  color: #444;
  cursor: pointer;
}
.advanced-nav-filters input {
  width: 100%;
}
.advanced-nav-filters .chosen-container {
  width: 100% !important;
}
.advanced-nav-filters .chosen-choices {
  border-color: #ccc !important;
  background-image: none !important;
}
.advanced-nav-filters .chosen-choices input[type="text"] {
  color: #999 !important;
}
.advanced-nav-filters .date-input .date-range-inputs > div {
  width: 50%;
  float: left;
}
.advanced-nav-filters .date-input .date-range-inputs > div .sublabel {
  float: left;
  line-height: 30px;
  padding-right: 10px;
  font-size: 10px;
}
.advanced-nav-filters .date-input .date-range-inputs > div input {
  float: left;
  width: 100px;
}
.advanced-nav-filters .adv-nav-input {
  margin: 0 0 20px;
}
.advanced-nav-filters input[type=submit] {
  margin-top: 35px;
  padding: 8px 0;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
}

.list-posts {
}
.list-posts li {
  height: 365px;
  /* width: 45%; */
  margin: 0 20px 10px 20px;
  float: left;
}
.list-posts li article {
 height: 340px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.1);
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.list-posts li article h2 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
.list-posts li article h2 a {
 text-decoration: none;
}
.list-posts li article p.meta {
  color: #96979C;
  font-size: 12px;
  display: table;
  width: 100%;
  margin: 0 0 10px;
}
.list-posts li article p.meta > span {
  display: table-cell;
}
.list-posts li article p.meta > span .icon-calendar {
  margin-right: 5px;
}
.list-posts li article .post-content {
  height: 114px;
  margin-bottom: 10px;
  overflow: hidden;
}
.list-posts li article .post-content p {
  margin: 0;
  line-height: 22px;
}
.list-posts li article .post-actions {
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.list-posts li article .post-actions .buttons {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.list-posts li article .post-actions .buttons .button {
  width: 1%;
  text-align: center;
  display: table-cell;
  border: 0;
  border-right: 2px solid #fff;
  padding: 10px 0;
}
.list-posts li article .post-actions .buttons .button:last-child {
  border-right: 0;
}



/****************Cartodb*****************/
div.cartodb-legend ul li.graph .bubbles {
 background: url("//cartodb-libs.global.ssl.fastly.net/cartodbui/assets/3.8.3/images/themes/bubbles.png") no-repeat scroll left top transparent;
 background-size: 100px;
 width: 110px;
 height: 30px;
}
div.cartodb-legend {
 width: 130px;
}
div.cartodb-legend.custom ul li.graph{
 height:30px;
 width: 100%;
 margin: -5px 0 5px;
}
/*round image*/
#round {
 float:left
}
#round ul{
 margin:1em 0 1em 0;
 float:left
}
#round li{
 text-align:center;
 float:left;
 list-style:none;
 width:120px;
 margin-right:20px;
 }
#round p{
 clear:both;
 width:110%;
 background:#f4f4f4;
}
#round img{
 margin-top:10px;
 max-width:120px;
 max-height:120px;
 width:120px;
 border: 1px solid #ddd;
 padding: 6px;
 -webkit-border-radius: 150px;
   -moz-border-radius: 80px;
   -ms-border-radius: 80px;
   -o-border-radius: 80px;
 border-radius: 80px;
 border: 1px solid #ddd;	padding: 6px;
 }
#round li img:hover{
 opacity:0.7;
 }
#round img.alignleft {
 margin-bottom:.5em
 }
/*end round image*/

/* Tooltips, pop info of site construction */
.arrow:after {
    background: #fff;
    border: 1px solid #888;
  }
  .ui-tooltip {
    padding: 10px 10px;
    color: #333;
 border:0;
    box-shadow: 0 0 0 #888;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 10%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
 /*end tooltips*/
/*menu*/
ul#menu-header-menu{
   padding: 0px;
  }
  ul#menu-header-menu li{
   float: left;
   list-style: none;
   position: relative;
  }
  ul#menu-header-menu li a{
   padding:10px 20px;
   display: block;
  }
  ul#menu-header-menu ul{
   width: 200px;
   display: none;
   position: absolute;
   border: 1px solid #c9c9c9;
   border-top: 0px;
  }

  ul#menu-header-menu ul li{
   width: auto;
  }
  ul#menu-header-menu ul ul{
   margin-top: -1px !important;
   position: absolute;
   top: 0px;
   left: 100%;
   border-top: 1px solid #c9c9c9;
  }

  ul#menu-header-menu li:hover > ul{
   display: block;
  }

  #od-head #main-nav ul.menu > li > ul li:last-child a{
  border-bottom: 0px;
  }
  #od-head #main-nav ul.menu > li > ul li a, #od-head #main-nav ul.menu > li > ul li:last-child > ul li a{
   border-bottom: 1px solid #ddd;
  }
/*menu*/
/* Notification */
#notification-message{
   background: #fff;
}
.notification-message-box{
    border: 2px solid #6393d2;
    color: #292D56;
    /* background-color: #292D56;
    color:#fff; */
    padding: .8em;
    margin: 1em 0 0;
    text-align:center;
    font-size: 15px;
}


@media screen and (max-width: 1020px) {
    table {
		overflow-x: auto;
        max-height: 800px;
		overflow-y: auto;
		display: block;
	}
}

@media screen and (max-width: 800px) {
    #od-head h1{
        font-size: 25px;
        font-family: "Droid Serif";
        margin: 0px 14px 0px 0px;
    }
    #od-head h2.side-title{
        font-size: 18px;
        line-height: 42px;
    }
    #od-head #social-nav a{
    line-height: 31px;
    font-size: 15px;
    margin: 5px 0px 0px 8px;

    }
    #live-search input[type="text"]{
        width:50%;
        margin-top:-20px;
        margin-left: 1px;
    }
    #od-head #ms-nav{
        margin-top: 10px;
    }
    #od-head #ms-nav ul.ms-nav > li{
    }
    #od-head #ms-nav ul.ms-nav > li > a {
        padding: 10px 16px;
        font-size: 12px;
    }
    #od-head #main-nav a{
        padding:7px 10px;
        font-size:12px
    }
    #od-head #main-nav ul.menu > li > ul{
        top: 28px;
    }

    #tabbed-post-type-nav ul li{
        float: left;
        display: inline;
        margin: 0;
        width: auto;
    }
    #tabbed-post-type-nav ul li a, #tabbed-post-type-nav ul li div.tag-name{
        padding:10px;
    }
    .announcements-list li{
        width:98%;
    }
     table {
		overflow-x: auto;
        max-height: 500px;
		overflow-y: auto;
		display: block;
	}
}
@media only screen and (max-width: 400px) {
    #od-head {
        padding: 10px 0px 0px;
    }
    #od-head h1{
        font-size: 25px;
        font-family: "Droid Serif";
        margin: 0px 14px 0px 0px;
    }
    #od-head h2.side-title{
        font-size: 18px;
        line-height: 42px;
    }
    #od-head #social-nav a{
    line-height: 31px;
    font-size: 15px;
    margin: 5px 0px 0px 8px;

    }
    #live-search input[type="text"]{
        width:50%;
        margin-top:-20px;
        margin-left: 1px;
    }
    #od-head #ms-nav{
        margin-top: 10px;
    }
    #od-head #ms-nav ul.ms-nav > li{
    }
    #od-head #ms-nav ul.ms-nav > li > a {
        padding: 10px 16px;
        font-size: 12px;
    }
    #od-head #main-nav a{
        padding:7px 10px;
        font-size:12px
    }
    #od-head #main-nav ul.menu > li > ul{
        top: 28px;
    }
    #sidebar .widgets .widget, .widget{
        width:auto;
    }
    #sidebar .widgets .widget .widget-title, .widget .widget-title{
        font-size:small;
    }
    #tabbed-post-type-nav ul li{
        float: left;
        display: inline;
        margin: 0;
        width: auto;
    }
    #tabbed-post-type-nav ul li a, #tabbed-post-type-nav ul li div.tag-name{
        padding:10px;
    }
    .announcements-list li{
        width:98%;
    }
}
/*IE10*/
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
