#profiles_map{
  width: 100%;
  height: 400px;
}

.data_table{
  width:100%;
  border: none;
}

.law_search_box{
  background: rgb(246,246,246);
  margin-top: 34px;
}

.sidebar_header{
  line-height: 20px;
  background: #292d56;
  color: white;
  padding: 7px;
  font-style: italic;
}

.sidebar_header .big{
  font-weight: bolder;
  font-style: normal;
}

.sidebar_box_content{
  padding: 10px 5px
}

.sidebar_box_content ul li{
  list-style: circle !important;
}

.sidebar_box_content ul li a{
  color: #292D56;
}

#search_all{
  width:90%;
  margin: 0px auto;
}

.dataTables_length select{
  margin: 0px !important;
  width: 40px;
  display: inline;
}

.top{
  padding-bottom: 10px;
  font-size: 10px ;
}

.top a{
  color: #292D56;
}

.top a:active{
  color: #292D56;
}

.top label{
  font-size: 10px ;
}

.info{
  float:left;
  margin-right: 10px;
}
.length{
  float:right;
  margin-right: 10px;
}

.pagination{
  float:right;
}

.section-title{
  border: 0!important;
}

.sorting{
  text-align: left;
  padding: 4px 10px;
  font-size: 10px !important;
}

.group{
  background: #292d56 !important;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 10px;
}

table.data_table thead{
  background: rgb(246,246,246);
  color: #000;
  font-size: 10px;
}

table.data_table tr,table.data_table td{
  background: none;
  border:none;
  padding: 12px 5px;
  margin-bottom: 4px;
}

.centered_column{
  min-width: 110px;
  text-align: center;
}

td.entry_title a{
  color: #292D56;
}

.download_buttons span.icon-arrow-down{
  position: relative;
  top:2px;
}

.download_buttons span a{
  color: white;
  text-decoration: none;
  padding: 3px 4px;
  background: rgb(75,75,75);
  border-radius: 6px;
  font-size:10px;
}
