button,
a.button,
.button {
	background: #f7904d;
}

#od-head {
	background: #64161d;
	color: #f0f0f0;
}

#od-head #ms-nav {
	background: #772028;
}

#od-head h1 a,
#od-head h1 span {
	text-decoration: none;
	color: #f7904d;
}

#od-head h2,
#od-head a,
#od-head span {
	color: #fff;
}

#od-head .ms-dropdown-title ul {
	background: #64161d;
}

#od-head .ms-dropdown-title ul li {
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #f7904d;
	border-color: #f7904d;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 10px solid #f7904d;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-top: 10px solid #f7904d;
}

#site-intro {
	background: #f7904d;
}