.vietnam-color{
    color: #C6C366;
}
a:hover{
	color: #C6C366;
	text-decoration:underline
}
a strong:hover {
	color: #C6C366;
	text-decoration:underline
}
button,
a.button,
.button {
	background: #C6C366;
}
tr:nth-child(2n+1) { 
    background-color: #f4f3db;
}
#od-head {
	background: #3D9C00;
	color: #f0f0f0;
}

#od-head #ms-nav {
	background: #42aa00;
}
#od-head #main-nav .menu ul > li:hover a,
#od-head #main-nav ul.menu > li:hover,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li:hover ,
#od-head #main-nav ul.menu  > li  > ul.sub-menu > li > ul.sub-menu > li a:hover {
	background-color: #C6C366;
}
#od-head h1 a,
#od-head h1 span {
	text-decoration: none;
	color: #C6C366;
}

#od-head h2,
#od-head a,
#od-head span {
	color: #fff;
}

#od-head .ms-dropdown-title ul {
	background: #3D9C00;
}

#od-head .ms-dropdown-title ul li {
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
	background: #C6C366;
	border-color: #C6C366;
}

.mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-bottom: 10px solid #C6C366;
}

#news.page-section .section-map .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active:after {
	border-top: 10px solid #C6C366;
}

#site-intro {
	background: #C6C366;
}
.current-site-vietnam{
	background: #C6C366;
}
#od-head #main-nav ul li.current_page_item a{
	color: #C6C366;
	font-weight: bold;
}
.widget .opendev-summary ol li a:hover {
	color: #C6C366;
	text-decoration:underline
}