a.button{
  color: @white;
  background: @mekong-bright;
  text-transform: capitalize;
  height: @button-height;
  border: 1px @light-gray solid;
  padding: 10px 10px;
  text-decoration: none;
}

a.button:hover{
  color: @black;
}

a.button i{
  margin-right: 10px;
  font-weight: lighter;
  font-size: @font-size-h5;
}

a.download{
  background: @green;
}

a.rss{
  background: @green;
}

a.close{
  background: @red;
}
