@primary-color: #505050;

// Country Colors
@mekong-bright: #6393D2;
@mekong-dark: #292d56;
@cambodia-bright: #97D320;
@cambodia-dark: #06323D;
@laos-bright: #D61E2A;
@laos-dark: #3B2226;
@myanmar-bright: #F8BF42;
@myanmar-dark: #59396C;
@thailand-bright: #F7904D;
@thailand-dark: #64161D;
@vietnam-bright: #C6C366;
@vietnam-dark: #3D9C00;

@gray: #999999;
@light-gray: #d8d8d8;
@white: #ffffff;
@black : #000000;
@red : #ff0000;


// Color classes
.mekong-color {
	color: @mekong-bright;
}

.cambodia-color {
	color: @cambodia-bright;
}

.laos-color {
	color: @laos-bright;
}

.myanmar-color {
	color: @myanmar-bright;
}

.thailand-color {
	color: @thailand-bright;
}

.vietnam-color {
	color: @vietnam-bright;
}
