.mekong-color {
	color: @mekong-bright;
}

.cambodia-color {
	color: @cambodia-bright;
}

.laos-color {
	color: @laos-bright;
}

.myanmar-color {
	color: @myanmar-bright;
}

.thailand-color {
	color: @thailand-bright;
}

.vietnam-color {
	color: @vietnam-bright;
}