
.post-grid-item{
	position: relative;
	height: @grid-height;
	text-align: left;
	background: @primary-color;
	margin-bottom: @big-padd;

	img {
		position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
		opacity: 0.2;
	}

	a {
		position: relative;
		top: 0px;
		left: 0px;
		z-index: 10;
		color: @white;
	}

	p {
		position: relative;
		top: 0px;
		left: 0px;
		z-index: 10;
		color: @white;
	}

}

.post-list-item{
	position: relative;
	height: @grid-height;
	text-align: left;
	margin-bottom: @big-padd;

	img {
		//TBD
	}

	a {
		//TBD
	}

	p {
		//TBD
	}

}
