/* Layout Related Styles */
body{
  display: inline-table;
}

.clear, #clear{
 clear:both;
}
.float-right {
    float: right
}
.float-left {
    float: left
}
.full-width{
  width:100%;
}
.align-center{
  text-align: center;
}

#colophon {
	margin-top: 0;
}
.no-margin-left{
    margin-left: 0;
}
.no-margin-buttom{
    margin-bottom: 0;
}
.no-margin-top{
    margin-top: 0;
}

.post-grid-item{
	position: relative;
	height: @grid-height;
	text-align: left;
	background: @primary-color;
	margin-bottom: @big-padd;
	font-family: @title-font;
	font-weight: lighter;
	.grid-content-wrapper {
		padding: 10px;

		.post-grid-item-title {
			font-size: @font-size-h4;
			margin-bottom: 15px;
			display: inline-block;
		}

		.post-meta {
			li {
				margin-bottom: 10px;
				padding-right: 0px;
			}
			.date {
				color: @white;
			}
			.fa {
				color: @white;
			}
		}

		img {
			position: absolute;
		    z-index: 1;
		    height: 100%;
		    top: 0;
		    left: 0;
			opacity: 0.2;
		}

		a {
			position: relative;
			top: 0px;
			left: 0px;
			z-index: 10;
			color: @white;
			text-decoration: none;
		}

		p {
			position: relative;
			top: 0px;
			left: 0px;
			z-index: 10;
			color: @white;
		}

	}

}

.post-list-item{
	margin-bottom: @small-padd;

	img {
		width: 50px;
    height: 50px;
    margin: 0px 4px 4px 0px;
	}

  .post-meta {
		ul {
			margin-left: 0px;
			li {
				margin-right: 5px;
				color: @primary-color;
				font-size: @base-font-size;
				margin-bottom: 5px;
			}
		}
	}

	a {
		text-decoration: none;
	}

  .post-list-item-title {
		font-family: @title-font;
		font-size: @font-size-h3;
		margin-bottom: 10px;
	}

	.post-list-item-content {
		display: inline-flex;
	}

	.post-excerpt, .excerpt {
		.text-ellipsis(3);
	}

  .readmore a {
		color: @mekong-bright;
		float:right;
	}

}

.post-meta{

  ul{
    list-style-type: none;
  }

  li{
    list-style-type: none;
    display: inline-block;
  }
  .categories li, .post-categories li {
  	margin-bottom: 0px !important;
  }
  .fa {
  	font-size: 16px;
  	width: auto;
  }
}

.panel{
  padding: @small-padd;
  background: @light-gray;
  border: 1px solid @gray;
}

.clearfix {
	clear:both;
}
