/* Layout Related Styles */

.clear, #clear{
 clear:both;
}
.float-right {
    float: right
}
.float-left {
    float: left
}

#colophon {
	margin-top: 0;
}
.no-margin-left{
    margin-left: 0;
}
.no-margin-buttom{
    margin-bottom: 0;
}
.no-margin-top{
    margin-top: 0;
}

.post-meta{
  margin: 0px 0px !important;

  ul{
    list-style-type: none;
  }

  li{
    padding-right: @small-padd;
    float: left;
    list-style-type: none;
  }
}
