/* Properties applicable also to desktop screens */
.mobile-dialog {
	display:none;
	width: 90% !important;
	height: 100% !important;
	z-index: 100;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	position: relative !important;
	padding: 2% 5% 5%;
}

.open-mobile-dialog, .close-mobile-dialog{
	cursor: pointer;
}

.close-mobile-dialog{
	width: 100%;
	font-size: 20px;
	text-align: right;
  margin-bottom: -1em;
  position: relative;
  z-index: 999;
}

/* Only Desktop */
@media only screen and (min-device-width: 1024px) {
  .hideOnDesktop {
    display: none !important;
  }
}

/* Desktop and tablet */
@media only screen and (min-device-width: 480px) {
	.hideOnDesktopAndTablet {
    display: none !important;
  }
}

/* Common smartphone and table screens */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  #od-head {
    margin-top: 33px;
  }
  .admin-bar {
    #od-selector {
      top: 46px;
    }
  }
	#od-selector {
		height: auto;
		padding: 0;
		.eight.columns {
			  width: 50%;
		}


    #qtranslate-chooser {
      position: absolute;
      right: 0;
      top: 0;
    }
	}

  .back-to-top {
    left: 95%;
  }

	.fa_slider_opendev.default {
		.fa_slide{
			.fa_slide_content{

				h2{
					margin-bottom: 0px !important;
					a{
						font-size: @font-size-h6;
					}
				}

				div.description p{
					font-size: @font-size-h7;

					a{
						font-size: @font-size-h7;
					}
				}

			}
		}
	}

	.category-map-layers{
		.baselayer-container{
			position: relative;
			max-height: 125px;
			left: 10px;
			top: 0;


			ul {
		    box-shadow: none;

				li{
					text-align: center;
					float: none;
					border-right: 0;

					.baselayer_thumbnail{
						float: none;
						display: block;
						margin: 0 auto;
						width: 32px;
						height: 32px;

						img{
							width: 32px;
							height: 32px;
						}
					}
				}
			}
		}
	}
}

/* Large Mobile Screen (Portrait) */
@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation : landscape) {
  .float-left {
    max-width: 83% !important;
  }
  .wp-caption{
    padding: 10px;
  }
}

/* Large Mobile Screen (Landscape) */
@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation : portrait) {
  .float-left {
    max-width: 77% !important;
  }
  .wp-caption{
    padding: 10px;
  }
}

/* Special header & social-buttons adaptations */
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
	#od-head {
		h1 {
	    margin: 10px 10px 0 0;
		}
		.social {
      padding: 0;
      margin-top: 0;
      right: 0;
      top: 0;
      position: absolute;
      i {
        font-size: 15px;
      }
    }
	}
  #od-selector {
    #country-select-dropdown {
      display:inline-block !important;
      cursor: pointer;
      color: #fff;
        position: absolute;
        top: 6px;
    }
    ul {
      padding-right: 3px !important;
      padding-left: 3px !important;
      li {
        padding-right: 3px !important;
        padding-left: 3px !important;
      }
			&.country-selector {
				position: relative;
				li {
					float: none;
					&:not(.active-country) {
						display:none;
					}
				}

				&.showall {
					li {
						display:block;
						line-height: 2em;
					}
				}
			}
		}
  }

	.interactive-map {
		.category-map-layers {
			.sidebar_header{
				padding: 8px 15px 8px 8px;
				clear: both;
				background: none !important;
				color: @black;
			}
		}
	}

	#map .interactive-map .map-container .leaflet-top{
    top: 10px !important;
  }
  #map .interactive-map .map-container .leaflet-left{
    left: 10px !important;
  }
	#map .interactive-map .map-container .leaflet-right{
	    right: 10px !important;
	}
  
	.button, .dt-button, a.button, button{
		padding: 5px;
		height: 15px !important;

	.button, .dt-button, a.button, button{
		padding: 5px;
		height: 15px !important;
    
		.fa-download {
			margin-right: 0;
		}
	}

}

/* Large Mobile Screen - Change Menu Style */
@media screen and (min-device-width: 320px) and (max-device-width: 650px) {
	#content {
		.post-content {
			iframe {
				width:100% !important;
			}
		}
		.wp-caption {
			width: 100% !important;
			img {
				width: 100%;
			}
		}
	}

  .frame {
    height: auto;
  }

  div.sixteen.columns {
    p {
      iframe {
        width: 100%;
      }
    }
  }

	.embeded-interactive-map .map-container.hide-on-mobile-dialog{
		max-height: 300px;
	}

	.section-title{
		padding: 0px 0 5px;
	}

}

/* Special header & social-buttons adaptations */
@media (min-device-width: 550px) and (max-device-width: 650px) {
	#od-head {
		h1 {
			font-size: 38px;
		}
		h2.side-title {
			font-size: 22px;
			line-height: 45px;
		}
	}
}

/* Special header & social-buttons adaptations */
@media screen and (max-device-width: 550px) {
	#od-head {
		h1 {
			font-size: 26px;
			letter-spacing: -2px;
			sup {
				top: -7px;
			}
		}
		h2.side-title {
			font-size: 18px;
		}
	}

  #sidebar {
    .widgets {
      .widget {
        padding: 0 0 5px 0 !important;
      }
    }
  }
}

/* Special header & social-buttons adaptations */
@media screen and (min-device-width: 480px) and (max-device-width: 550px) {
	#od-head {
		h2.side-title {
			line-height: 38px;
		}
	}
}

/* Mobile and Tablet */
@media only screen and (max-device-width: 768px) {
  .hideOnMobileAndTablet {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-device-width: 480px) {
  .hideOnMobile {
    display: none !important;
  }
	#map .interactive-map .map-container .leaflet-top{
    top: 10px !important;
  }
  #map .interactive-map .map-container .leaflet-left{
    left: 10px !important;
  }
	#map .interactive-map .map-container .leaflet-right{
	    right: 10px !important;
	}
}

/* Small Mobile Screen */
@media screen and (min-device-width: 370px) and (max-device-width: 480px) {
  #od-head {
		padding: 0;
    h2.side-title {
      line-height: 39px;
    }
  }
}

/* Small Mobile Screen */
@media screen and (min-device-width: 360px) and (max-device-width: 450px) {
	#od-head {
		min-height: 55px;
		padding: 0;
		#icon-od-logo {
			margin-right: 5px;

			.svg-od-logo {
				width: 30px;
				height: 50px;
			}
		}
		h1 {
			font-size: 25px;
			margin: 2px 10px 0 0;
		}
		h2.side-title {
			line-height: 40px;
			font-size: 18px;
			margin-top: 8px;
		}
	}
	.alignleft, .alignright {
    width: 50%;
  }

	.interactive-map .map-container {
		max-height: 400px;
	}
  
}

/* Small Mobile Screen */
@media screen and (min-device-width: 320px) and (max-device-width: 370px) {
  #od-head {
		min-height: 55px;
    padding: 0;
    #icon-od-logo {
			margin-right: 5px;

      .svg-od-logo {
        width: 27px;
				height: 50px;
      }
    }
    h1 {
      font-size: 22px;
			margin: 2px 10px 0 0;
    }
    h2.side-title {
      line-height: 40px;
      font-size: 16px;
			margin-top: 8px;
    }
  }

	.interactive-map .map-container.hide-on-mobile-dialog{
		max-height: 300px;
	}
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url(<q>assets/xml/ellipsis.xml#ellipsis</q>);
}

