/*
 * Briefing page section
 */

.container{
	ul {
		list-style: circle !important;
	}
}

#briefs.list {
	article {
		img {
			width: 100%;
			height: auto;
		}

		header {
			h3 {
				margin: 0 0 20px;

				a {
					text-decoration: none;
				}
			}

			p {
				margin: 0 0 10px;
				color: #777;

				span {
					margin-right: 10px;
				}
			}
		}
	}

	.main-section-link {
		display: block;
		text-align: center;
		padding: 15px 0;
	}

}

.posts-section #briefs article {
	header p {
		font-size: 12px;
	}

	p {
		font-size: 16px;
		line-height: 150%;
	}
}

/*
 * Tabbed post list
 */

.tabbed-posts-section {
	border: 1px solid #ddd;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.tabbed-posts-list {
	margin: 0;
	padding: 4px 10px;

	li {
		line-height: 24px;
		margin-bottom: 20px;

		article {
			border: 1px solid #ccc;
			box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
			padding: 20px;
			h3 {
				a {
					text-decoration: none;
				}
			}

			.meta {
				margin: 0 0 20px;
				p {
					margin: 0 0 5px;
					font-size: 14px;
					color: #666;
					span {
						margin-right: 10px;
					}
				}
			}
		}
	}
}

#tabbed-post-type-nav ul {
	width: 100%;
	display: table;
	margin: 0 0 20px;
	padding: 0;

	li {
		display: table-cell;
		width: 1%;
		text-align: center;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;

		&:last-child {
			border-right: 0;
		}
		&.active {
			border-bottom: 1px solid #f6f6f6;
		}

		a, div.tag-name {
			display: block;
			padding: 15px 0;
			width: 100%;
			text-decoration: none;
			text-transform: uppercase;
			background: #eee;
		}

		&.active a, &.tab-tag-active div.tag-name {
			background: #f7f7f6;
			font-weight: 600;
		}

		a:hover, div.tag-name:hover {
			background: #fff;
			cursor: pointer;
		}
	}
}

/* Search Results */
#advanced_search_results h2 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	margin: -2em 0 22px;
}
#wpckan_search_results {
	h2 {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 18px;
		margin: 0 0 22px;
	}

	.wpckan_dataset_list > ul > li {
		margin: 0 0 20px;
	}

	.button {
		display: block;
		text-align: center;
	}
}

/*
 * Site updates and announcements section
 */

#site-updates, #announcements {
	article {
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px dotted #ccc;

		h3 {
			font-size: 16px;
			line-height: 20px;
			font-weight: 400;
			margin: 0;
			a {
				text-decoration: none;
			}
		}

		p {
			font-size: 12px;
			color: #777;
			margin: 0;
		}
	}
	.updates-list, .announce-list {
		margin-top: -15px;
	}
}

/*
 * Single content
 */
.single section.content {
	font-size: 16px;
	line-height: 150%;

	h1,h2,h3,h4 {
		margin: 10px 0;

		a {
			text-decoration: none;
		}

	}

}

#featured-media {
	.map-container, .mapgroup-container {
		height: 100%;
	}
}

.single {
	.documents_cover {
		padding-right: @med-padd;
		width: 150px;
    display: table-cell;
    vertical-align: top;
    float: left;
	}

	#post-content {
			.fa-image-container img{
				border: none;
			}

			img {
				margin-top:  @xsmall-padd;
				border:1px solid @light-gray;
				padding: @xsmall-padd;
				max-width: 140px;
		    height: auto;
		    float: left;
		    margin-right: 20px;
			}
	}




}
/*
 * Page
 */
#content{

	background: @white;
	padding: 0 0;

	&.single-post {
		font-size: 16px;
		line-height: 150%;
		word-wrap: break-word;
	}

	.post-title{
		h1{
			margin-bottom: @small-padd;
		}
	}

	ul {
		margin-left: 1.5em;

		li {
			list-style-type: square;
		}
	}

	#references li, #reference-list li {
		list-style-type: none;
	}

	#reference-list{
	    margin-left: 0;
	}

	.post-content {

		.tableauPlaceholder {
			width: 100%;
			border: 1px solid #ddd;
			padding: 10px;
			background: #f4f4f4 none repeat scroll 0;
		}

		iframe {
			max-width:100%;
		}
		p {
			sub {
				font-size: @font-size-h6;
			}
		}
	}
}
