@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Lato:400,700,300);

body {
	font-family: @primary-font;
	color: @primary-color;
	font-size: @base-font-size;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @title-font;
	font-weight: bolder;
}

h1 {
	font-size: @font-size-h1;
	line-height: @title-line-height;
}
h2 {
	font-size: @font-size-h2;
	line-height: @title-line-height;
}
h3 {
	font-size: @font-size-h3;
	line-height: @subtitle-line-height;
}
h4 {
	font-size: @font-size-h4;
	line-height: @subtitle-line-height;
}
h5 {
	font-size: @font-size-h5;
	line-height: @subtitle-line-height;
}

p {
	font-family: @primary-font;
	color: @primary-color;
	font-size: @base-font-size;
	font-weight: normal;
}

a {
	text-decoration: none;
	font-family: @primary-font;
	color: @primary-color;
	font-size: @base-font-size;
	font-weight: normal;
}

a,
a:vistited,
a:hover,
a strong:hover {
	text-decoration: none;
	color: @mekong-dark;
}

a, a:vistited {
	text-decoration: none;
}

.excerpt { font-weight: light; }

h5 a {
    text-decoration: none;
}
h2 em {
    font-weight: normal;
}

sup{
	vertical-align: super;
	font-size:small;
	line-height: 0;
}
sub{
	vertical-align: sub;
	font-size:small;
}
blockquote {
	padding:15px 15px 0;
	border: 1px solid #DDD;
	background: #f4f4f4;
}

.text-ellipsis(@lines-to-show; @font-size : @base-font-size; @line-height: 1.5) {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-width: 100%;
	height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */
	margin: 0 auto;
	font-size: @font-size;
	line-height: @line-height;
	-webkit-line-clamp: @lines-to-show;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
