/* ========== Colors ============ */
@primary-color: #505050;

// Country Colors
@mekong-bright: #6393D2;
@mekong-dark: #373c6a;
@cambodia-bright: #97D320;
@cambodia-dark: #12414e;
@laos-bright: #D61E2A;
@laos-dark: #583a43;
@myanmar-bright: #F8BF42;
@myanmar-dark: #704C98;
@thailand-bright: #F7904D;
@thailand-dark: #F7904D;
@vietnam-bright: #C6C366;
@vietnam-dark: #4AB208;

@bg-gray: #C8C8C8;

/* ========== Fonts ============ */

// Font Family
@primary-font: 'Open Sans', sans-serif;
@title-font: 'Lato', sans-serif;

// Font Size
@base-font-size: 14px;
@font-size-h1: 24px;
@font-size-h2: 20px;
@font-size-h3: 18px;
@font-size-h4: 16px;
@font-size-h5: 14px;
@font-size-h6: 12px;

/* ========== Layout ============ */

@section-padding: 10px; 


/* ========== Buttons ============ */

@button-height: 24px;
