.wpsparql_result_list{
	border-collapse: separate;
	border: 0;
	margin: 0;
}

.wpsparql_result_list td{
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
	border-top: none;
}

.wpsparql_result_list th{
	display: none;
}

.wpsparql_result_list tr, .wpsparql_result_list tr:nth-child(2n+1){
	background-color: #fff;
}
