// Specific overriding rules for the country
// to be converted to dist/css/cambodia.css

@import "_country-mixin.less";

@cambodia-bright: #00a600;
@cambodia-bgcolor: #06323D;

body{
  font: 14px/24px 'Suwannaphum', "Open Sans";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Suwannaphum", "Open Sans","Helvetica","Arial",sans-serif;
}
.kh select, .km select{
    font-family: "Suwannaphum", "Open Sans","Helvetica","Arial",sans-serif;
}

.mainNav-inner .level1 li a, #mainNav-inner .level1 li a, a#user_feedback_form,
.fa_slider_opendev .fa_slide_content div.description p {
  font-family: "Suwannaphum", "Open Sans" !important;
}

#cambodia-color, .cambodia-color{
    color: @cambodia-bright;  /* #66cc00*/
}
#cambodia-bgcolor, .cambodia-bgcolor{
    background: @cambodia-bright !important
}

#cambodia-bgdarkcolor, .cambodia-bgdarkcolor{
    background: @cambodia-bgcolor !important
}

.country-mixin(@cambodia-bright, @cambodia-bgcolor);

#sidebar .widgets .widget, .widget .od-tax-widget-tax-item {
  ul li {
    span.plusimage-cambodia {
      display: inline-block;
      background: url("../../img/expand-kh.png") no-repeat 0 2px!important;
      padding-left: 20px;
    }
    span.minusimage-cambodia {
      display: inline-block;
      background: url("../../img/collapse-kh.png") no-repeat 0 2px!important;
      padding-left: 20px;
    }
    span.nochildimage-cambodia {
      display: inline-block;
      background: url("../../img/no-child-kh.png") no-repeat 0 2px!important;
      padding-left: 20px;
    }
  }
}


.layer-toggle-info-container .layer-toggle-info table tr:first-child {
    background-color: @cambodia-bright;
    border: 1px solid @cambodia-bright;

    td {
      border-top: 1px solid @cambodia-bright;
      border-bottom: 1px solid @cambodia-bright;
    }
}

/*
 * Advanced Navigation
 */
.navigation .current{
	background: @cambodia-bright;
	border: 1px solid @cambodia-bgcolor;
  color: @cambodia-bgcolor;
}

.div-button {
  background-color: @cambodia-bright !important;
}
