// Specific overriding rules for the country
// to be converted to dist/css/laos.css

@import "_country-mixin.less";

/* Color */
@laos-bright: #D61E2A;
@laos-bgcolor: #3b2226;

.laos-color{
    color: @laos-bright;
}
#laos-bgcolor, .laos-bgcolor{
    background: @laos-bright !important;
}

#laos-bgdarkcolor, .laos-bgdarkcolor{
    background: @laos-bgcolor !important
}

.menu-laos .icon_menu{
  display: none!important;
}

.country-mixin(@laos-bright, @laos-bgcolor);

#sidebar .widgets .widget ul li span.plusimage-laos{
    display: inline-block;
    background: url("../../img/expand-lo.png") no-repeat 0 2px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.minusimage-laos{
    display: inline-block;
    background: url("../../img/collapse-lo.png") no-repeat 0 2px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.nochildimage-laos{
    display: inline-block;
    background: url("../../img/no-child-lo.png") no-repeat 0 2px!important;
    padding-left: 20px;
}

.layer-toggle-info-container .layer-toggle-info table tr:first-child {
    background-color: @laos-bright;
    border: 1px solid @laos-bright;

    td {
      border-top: 1px solid @laos-bright;
      border-bottom: 1px solid @laos-bright;
    }
}

.div-button {
  background-color: @laos-bright !important;
}
