// Specific overriding rules for the country
// to be converted to dist/css/myanmar.css

@import "_country-mixin.less";

/* Color */
@myanmar-color: #F8BF42;
@myanmar-bgcolor: #59396C;

.myanmar-color{
    color: @myanmar-bgcolor;
}
#myanmar-bgcolor, .myanmar-bgcolor{
    background: @myanmar-color !important;
}
.menu-myanmar .icon_menu{
  display: none!important;
}

.country-mixin(@myanmar-color, @myanmar-bgcolor);

.current-site-myanmar{
	background: @myanmar-color; 
}

#sidebar .widgets .widget ul li span.plusimage-myanmar{
    display: inline-block;
    background: url("../img/expand-my.png") no-repeat 0 2px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.minusimage-myanmar{
    display: inline-block;
    background: url("../img/collapse-my.png") no-repeat 0 2px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.nochildimage-myanmar{
    display: inline-block;
    background: url("../img/no-child-my.png") no-repeat 0 2px!important;
    padding-left: 20px;
}


