body {
  background: @white;
}

img {
	max-width: 100%;
	&.border {
		border: 1px solid #ccc;
		background: #f8f8f8;
		padding: 3px 3px 2px;
	}
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    border-spacing: 0px;
    color: #111;

    tr{

        &:nth-child(2n) {
        	background-color: #FFF;
        }

        &:nth-child(2n+1) {
        	background-color: @almost-white;
        }
    }

    td{
        padding: 2px 10px;
        line-height: 1.42857;
        vertical-align: top;

        p{
          padding: @xsmall-padd;
					margin: 0px;
        }
    }
}



#od-head {
  h1 {
    color: @mekong-bright !important
  }
}

.sidebar_header{
  background: @mekong-bright !important;
}

.tableauPlaceholder{
    margin: 5px auto 20px;
}
 .table-of-contents sup{
     display: none;
 }

.box-shadow{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
}

#mekong-bgcolor, .mekong-bgcolor{
    background: @mekong-bright !important
}
#mekong-bgdarkcolor, .mekong-bgdarkcolor{
    background: @mekong-dark !important
}

/* Image Caption */
.wp-caption {
    max-width: 100%;
    margin-bottom: 24px;
    border: 1px solid #DDD;
    padding: @small-padd;
    padding-right: 0;
    background: #F4F4F4 none repeat scroll 0%;

    img {
    	max-width: 100%;
    }
}

.wp-caption-text {
    font-size: @font-size-h5;
    line-height: 24px;
    color: #777;
    font-style: italic;
    clear: both;
    a {
      font-size: @font-size-h5;
    }
}
blockquote{
  padding-bottom: 15px;
}
blockquote, blockquote p, blockquote span {
    font-size: @font-size-h5;
    line-height: 24px;
    color: #777;
    font-style: italic;
    margin-bottom:0;
    clear: both;
    a {
      font-size: @font-size-h5;
    }
}

.frame {
  height: 350px;
  padding: 5px;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}


.map-sidebar a {
	color: @mekong-bright;
}

.post-categories{
	margin: 0px !important;
	height: 20px !important;
	display: inline;

	li {
		display: inline-block;
		float: none !important;
	}
}

.post-categories_tags {
	margin-bottom: 1em;
	float:left;

	a, a:visited {
		display: block;
		font-weight: 800;
		padding: 5px;
		background: none repeat scroll 0% 0% #EEE;
		border-radius: 3px;
		margin: 0px 5px 0px 0px;
		font-size: 11px;
		line-height: 11px;
		text-decoration: none;
		color: #333;
		text-transform: uppercase;
		float:left;
	}
}

.section-title {
  padding: @med-padd 0px @xsmall-padd 0px;
  box-shadow: none;
  margin: 0;
}

.section-content {

	.post-categories li {
		margin-bottom: 0;
	}

  .leaflet-div-icon {
  	background: url(../../img/marker.png) no-repeat !important;
  	width: 25px !important;
  	height: 30px !important;
  	margin-top: -30px !important;
  	margin-left: -12px !important;
  	border: 0 !important;
  	box-sizing: border-box !important;
  	text-align: center;
  	padding-top: 5px;
  	padding-left: 1px;
  	font-weight: 800;
  	font-size: 10px;
  	line-height: 10px;
  }

  .mapgroup-container .mapgroup .map-nav-container .map-nav li a.active {
  	background: #6393d2;
  	border-color: #6393d2;

  	&:after {
  		border-bottom: 10px solid #6393d2;
  	}
  }

  .lang-en, .lang-pt, .lang-es {
  	display: block;
  }

  /* Headings */

  .search h1 {
  	margin: 10px 0;
  }

  .poat-date-source{
      padding:5px 0 10px;
      word-wrap: break-word;
  }

  .date {
  	color: @gray;
  	display:inline;
  	font-size: 14px;
  }
  .source {
  	color: @gray;
  	display:inline;
  	font-size: @base-font-size;
  }

  .query-actions {
  	text-align: right;
  	margin-bottom: 0;
    padding-top: 10px;

  	.query-actions-title {
  		font-weight: 600;
  		margin-right: 10px;
  		text-transform: uppercase;
  		color: @gray;
  		font-size: 12px;
  	}

  	a {
  		text-decoration: none;
  		text-transform: uppercase;
  		margin-left: 10px;
  		font-size: 12px;
  	}

  	[class^="icon-"],
  	[class*=" icon-"] {
  		margin-right: 5px;
  		color: @gray;
  	}

  }

  .page-header h1,
  .archive-title {
  	padding-bottom: 20px;
  }

  .archive-title {
  	float: left;
  }
}

#main-title-nav {
	border-top: 1px solid #dedede;
	padding: 0;
	margin: 15px 0 -15px;

	ul {
		margin: 0;
		padding: 0;
		border-left: 1px solid #dedede;

		li {
			float: left;
			margin: 0;
			padding: 0;

			a {
				text-decoration: none;
				display: block;
				padding: 10px 15px;
				border-right: 1px solid #dedede;
				color: @gray;

				&:hover {
					color: #333;
				}
			}
		}
	}
}

/*
 * Site intro
 */

#site-intro {
	padding: 15px 0 0;
	background: #6393D2;
}

#intro-texts {
	[class^="icon-"],
	[class*=" icon-"] {
		float: left;
		font-size: 40px;
		line-height: 100%;
		margin: 0 12px 0 0;
		padding-top: 10px;
		color: @white;
	}

	.four {
		&.columns {
			margin-right:0;
		}
	}

	.text-item {
		display: table;
		color: #fff;
	}

	.icon, .content {
		display: table-cell;
		vertical-align: top;
	}

	h3 {
		font-size: 24px;
		color: @white;
	}

	p {
		font-size: 16px;
		line-height: 150%;

		a {
			color: @white;
		}
	}
}

/* Slider */
.fa_slider_opendev.default {
	.fa_slide_content {
		div.description {
			p {
				a {
					word-wrap: break-word;
				}
			}
		}
	}
}

/*
 * Box section
 */

.box-section {
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	.box-title {
		border-bottom: 1px solid #ccc;
		box-sizing: border-box;
		padding: 15px 20px;
		h2, h3 {
			font-size: 16px;
			line-height: 16px;
			text-transform: uppercase;
			margin: 0;
			color: #444;
		}
	}
	.box-items {
		display: table;
		width: 100%;
		.box-item {
			width: 1%;
			display: table-cell;
			border-left: 1px solid #ddd;
			box-sizing: border-box;
			padding: 15px 20px;

			&:first-child {
				border-left: 0;
			}
		}
	}
}
#mekong-bgdarkcolor, .mekong-bgdarkcolor{
    background: @mekong-dark !important
}
