// Specific overriding rules for the country
// to be converted to dist/css/thailand.css

@import "_country-mixin.less";

/* Color */
@thailand-text-color: #E25D13;
@thailand-bright: #F7904D;
@thailand-bgcolor: #64161d;

#thailand-color, .thailand-color{
    color: @thailand-text-color;  /* #66cc00*/
}
#thailand-bgcolor, .thailand-bgcolor{
    background: @thailand-bright !important
}
#thailand-bgdarkcolor, .thailand-bgdarkcolor{
    background: @thailand-bgcolor !important
}

.menu-thailand .icon_menu{
  display: none!important;
}

.country-mixin(@thailand-text-color, @thailand-bgcolor);

#od-head {
  h1 {
    color: @thailand-bright !important
  }

	#od-logo .svg-od-logo {
		 fill: @thailand-bright!important;
	}
}

.sidebar_header{
  background: @thailand-bright !important;
}

#sidebar .widgets .widget ul li span.plusimage-thailand{
    display: inline-block;
    background: url("../../img/expand-th.png") no-repeat 0 5px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.minusimage-thailand{
    display: inline-block;
    background: url("../../img/collapse-th.png") no-repeat 0 5px!important;
    padding-left: 20px;
}
#sidebar .widgets .widget ul li span.nochildimage-thailand{
    display: inline-block;
    background: url("../../img/no-child-th.png") no-repeat 0 5px!important;
    padding-left: 20px;
}
.layer-toggle-info-container .layer-toggle-info table tr:first-child {
    background-color: @thailand-bright;
    border: 1px solid @thailand-bright;

    td {
      border-top: 1px solid @thailand-bright;
      border-bottom: 1px solid @thailand-bright;
    }
}

/*
 * Advanced Navigation
 */
.navigation .current{
	background: @thailand-bright;
	border: 1px solid @thailand-bgcolor;
  color: @thailand-bgcolor;
}

.div-button {
  background-color: @thailand-bright !important;
}
