@font-face {
  font-family: 'icomoon';
  src:  url('./od-icomoon.eot?7elzvz');
  src:  url('./od-icomoon.eot?7elzvz#iefix') format('embedded-opentype'),
    url('./od-icomoon.ttf?7elzvz') format('truetype'),
    url('./od-icomoon.woff?7elzvz') format('woff'),
    url('./od-icomoon.svg?7elzvz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=" od-icon"], [class^="od-icon"]{
	  font-family: 'icomoon' !important;
}

.od-icon_fee .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.od-icon_fee .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_fee .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_fee .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_fee .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_fee .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_fee .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.od-icon_budget .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.od-icon_budget .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_budget .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.od-icon_document:before {
  content: "\e903";
}
.od-icon_od:before {
  content: "\e90a";
}
.od-icon_school:before {
  content: "\e90b";
}
.od-icon_waternelectricity:before {
  content: "\e90c";
}
