@font-face {
  font-family: 'icomoon';
  src:  url('od-icomoon.eot?82hsh4');
  src:  url('od-icomoon.eot?82hsh4#iefix') format('embedded-opentype'),
    url('od-icomoon.ttf?82hsh4') format('truetype'),
    url('od-icomoon.woff?82hsh4') format('woff'),
    url('od-icomoon.svg?82hsh4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.icomoon {
  font-family: 'icomoon' !important;
}

.icon-od_budget .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-od_budget .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_budget .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_document:before {
  content: "\e903";
}
.icon-od_fee .path1:before {
  content: "\e904";
  color: rgb(51, 51, 51);
}
.icon-od_fee .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-od_fee .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_fee .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_fee .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_fee .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_fee .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-od_od:before {
  content: "\e90b";
}
.icon-od_school:before {
  content: "\e90c";
}
.icon-od_waternelectricity:before {
  content: "\e90d";
}
